[Basic Data Exploration](#basic-explor)

[Bivariate analysis](#bivar)

## Course Structure

1. Module 0 - Native Data Types in Python
2. Module 1 - Intro to Pandas library & Basis Dataframe attributes
3. Module 2 - Common Data manipulation tasks using Pandas
4. Module 3 - Loops and Functions 
5. Module 4 - Visualization
6. Module 5 - Other miscellaneous topics

# Basic data types

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
#list, dictionaries , tuples


mylist= [20,30,50,40,50,60,70,80]
mylist[:7]

[20, 30, 50, 40, 50, 60, 70]

In [3]:
x = [1,"b",3]

In [4]:
x[1]

'b'

In [5]:
dict={"palak":"student","you":"hello",5:"number"}
dict["palak"]
dict[5]
dict.keys()
dict.values()

'student'

'number'

dict_keys(['palak', 'you', 5])

dict_values(['student', 'hello', 'number'])

In [6]:
students={"s_1":["ibm"], "s_2" :["infy","wipro" , "google"]}
students["s_1"]
students["s_2"]
students["s_2"][1]

['ibm']

['infy', 'wipro', 'google']

'wipro'

In [7]:
student_dict = {"s_1":["IBM","TCS"],"s_2" :["HP"], "s_3":["INFOSYS","WIPRO"]}

In [8]:
[val for k,val in student_dict.items()]

[['IBM', 'TCS'], ['HP'], ['INFOSYS', 'WIPRO']]

In [9]:
x = ["abe",1,"c"]

In [10]:
dist_ex = {"S1":["HCL","TCS"],"S2":["Benz"]}

In [11]:
for k,v in dist_ex.items():
    if k == "S1":
        print(k)

S1

In [12]:
x.append("h")

#This is to test python

In [13]:
tup_ex = (1,2,3,1)
mylist=[1,2,3,4,5]
mylist.append(7) #adding elements
mylist
tup_ex. #press tab , you wont see any append option that shows tuple are immutable

SyntaxError: invalid syntax (<ipython-input-13-45aebc31be83>, line 5)

In [14]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\om\anaconda3\lib\site-packages
Requirement already satisfied: python-dateutil>=2 in c:\users\om\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: pytz>=2011k in c:\users\om\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: numpy>=1.7.0 in c:\users\om\anaconda3\lib\site-packages (from pandas)
Requirement already satisfied: six>=1.5 in c:\users\om\anaconda3\lib\site-packages (from python-dateutil>=2->pandas)

You are using pip version 9.0.1, however version 20.2.2 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [15]:
list_ex = [1,2,3]
dist_ex = {"Age":25,"Weight":70}

tup_ex = (1,2,3,1)

In [16]:
from pandas import read_csv

In [17]:
# read the data
import pandas as pd
#import numpy as np
df = pd.read_csv("Uber Drives 2016.csv") #df is data frame ,df is a basic data structure we have in pandas which representsthe data in the form of rows and colomns

In [18]:
# NaN is negligible . its not none

In [19]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
11,1/10/2016 18:18,1/10/2016 18:53,Business,Elmhurst,New York,7.5,Meeting
12,1/10/2016 19:12,1/10/2016 19:32,Business,Midtown,East Harlem,6.2,Meeting
13,1/11/2016 8:55,1/11/2016 9:21,Business,East Harlem,NoMad,6.4,Temporary Site
14,1/11/2016 11:56,1/11/2016 12:03,Business,Flatiron District,Midtown,1.6,Errand/Supplies
15,1/11/2016 13:32,1/11/2016 13:46,Business,Midtown,Midtown East,1.7,Meal/Entertain
16,1/11/2016 14:30,1/11/2016 14:43,Business,Midtown East,Midtown,1.9,Meal/Entertain
17,1/12/2016 12:33,1/12/2016 12:49,Business,Midtown,Hudson Square,1.9,Meal/Entertain
18,1/12/2016 12:53,1/12/2016 13:09,Business,Hudson Square,Lower Manhattan,4.0,Meal/Entertain
19,1/12/2016 14:42,1/12/2016 14:56,Business,Lower Manhattan,Hudson Square,1.8,Errand/Supplies
20,1/12/2016 15:13,1/12/2016 15:28,Business,Hudson Square,Hell's Kitchen,2.4,Customer Visit
21,1/12/2016 15:42,1/12/2016 15:54,Business,Hell's Kitchen,Midtown,2.0,Errand/Supplies
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit
26,1/14/2016 21:39,1/14/2016 21:45,Business,Eagan Park,Jamestown Court,3.9,Errand/Supplies
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0,Errand/Supplies
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain
...,...,...,...,...,...,...,...
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4,Errand/Supplies
1127,12/28/2016 13:53,12/28/2016 14:01,Business,Kar?chi,Kar?chi,2.0,Errand/Supplies
1128,12/28/2016 15:04,12/28/2016 15:39,Business,Kar?chi,Unknown Location,8.5,Meal/Entertain
1129,12/28/2016 17:02,12/28/2016 17:16,Business,Unknown Location,Kar?chi,4.4,Errand/Supplies
1130,12/28/2016 18:33,12/28/2016 18:56,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies
1131,12/28/2016 22:44,12/28/2016 23:18,Business,Kar?chi,Kar?chi,5.1,Errand/Supplies
1132,12/29/2016 0:49,12/29/2016 1:06,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1135,12/29/2016 12:25,12/29/2016 12:33,Business,Kar?chi,Kar?chi,1.4,Errand/Supplies
1136,12/29/2016 13:17,12/29/2016 13:24,Business,Kar?chi,Kar?chi,1.1,Errand/Supplies
1137,12/29/2016 13:56,12/29/2016 14:11,Business,Kar?chi,Kar?chi,4.1,Airport/Travel
1138,12/29/2016 14:42,12/29/2016 14:58,Business,Kar?chi,Kar?chi,6.1,Between Offices
1139,12/29/2016 15:05,12/29/2016 15:16,Business,Kar?chi,Kar?chi,1.3,Errand/Supplies
1140,12/29/2016 18:59,12/29/2016 19:14,Business,Kar?chi,Unknown Location,3.0,Meal/Entertain
1141,12/29/2016 19:50,12/29/2016 20:10,Business,Unknown Location,Kar?chi,4.1,Customer Visit
1142,12/29/2016 20:15,12/29/2016 20:45,Business,Kar?chi,Kar?chi,7.2,Meeting
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

# Key Modules

1. Basic Dataframe operations
2. Common data manipulation tasks
3. Loops and Functions

## Basic dataframe operations

In [20]:
hasattr(df,"head")
callable(getattr(df,"head"))

True

True

In [21]:
type(df)

pandas.core.frame.DataFrame

In [22]:
df.dtypes

START_DATE*     object
END_DATE*       object
CATEGORY*       object
START*          object
STOP*           object
MILES*         float64
PURPOSE*        object
dtype: object

In [23]:
df.head()  #put the mouse cursor in the brackets and press shift tabs , youll see the details

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit

In [24]:
df.shape #to know how many rows and columns

(1156, 7)

In [25]:
df.tail()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

### Changing data types

In [26]:
temp = pd.DataFrame({"A":["1","2","3"],"B":[11,12,13],"C": ["12-06-2012","13-06-2015","15-06-2017"]})

In [27]:
temp

   A   B           C
0  1  11  12-06-2012
1  2  12  13-06-2015
2  3  13  15-06-2017

In [28]:
temp.dtypes

A    object
B     int64
C    object
dtype: object

In [29]:
pd.to_datetime("2016-11-02") 
pd.to_datetime("2016-jun-02")

Timestamp('2016-11-02 00:00:00')

Timestamp('2016-06-02 00:00:00')

In [30]:
pd.to_datetime(["2016-11-02","2016-04-15"])

DatetimeIndex(['2016-11-02', '2016-04-15'], dtype='datetime64[ns]', freq=None)

In [31]:
temp["C"] = pd.to_datetime(temp["C"])

In [32]:
temp["A"] = pd.to_numeric(temp["A"])

In [33]:
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [34]:
temp["C"]=pd.to_datetime(temp["C"]) #THIS IS HOW YOU ACCESSS A COLUMN FROM A DATAFRAME .temp is the data frame , i want to access C . = refers to i want to do some thing with it. like convert the date time of this column!! 
temp #when you are doing this modification , the original dataframe will get changed.if you dont want to change , then assign to another data frame
temp.dtypes #in pamdas there are some operations that will chang the data frame some will not CONFUSING.
#if you're adding a column  to another , it will change data frame.
pd.to_datetime(["2016-sep-11", "abc"],errors="coerce") #it will understand that you want to convert data where it cant it will say NaT

   A   B          C
0  1  11 2012-12-06
1  2  12 2015-06-13
2  3  13 2017-06-15

A             int64
B             int64
C    datetime64[ns]
dtype: object

DatetimeIndex(['2016-09-11', 'NaT'], dtype='datetime64[ns]', freq=None)

In [35]:

temp["A"] = temp["A"].astype(str)

In [36]:
temp.dtypes

A            object
B             int64
C    datetime64[ns]
dtype: object

In [37]:
temp["A"] = pd.to_numeric(temp["A"]) #another method

In [38]:
temp.dtypes

A             int64
B             int64
C    datetime64[ns]
dtype: object

In [39]:
# convert data to datetime format
pd.to_datetime(df["START_DATE*"],format='%m/%d/%Y %H:%M')
# Available time formats: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

ValueError: time data 'Totals' does not match format '%m/%d/%Y %H:%M' (match)

### Dataset summarization methods

In [ ]:
df.describe(include="all")

In [ ]:
df.info()

In [ ]:
# count of unique start locations
df["START*"].value_counts()

In [40]:
# count of unique start locations
df["START*"].value_counts().head()

Cary                201
Unknown Location    148
Morrisville          85
Whitebridge          68
Islamabad            57
Name: START*, dtype: int64

## Common data manipulation tasks

5 verbs of data manipulation

1. Selecting/Indexing
2. Filtering
3. Sorting
4. Mutating/ Conditionally adding columns
5. Groupby/Summarize

### Select/Indexing

In [41]:
# 2 methods
#iloc - number based (not used these days)
#loc -- label based

In [42]:
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
11,1/10/2016 18:18,1/10/2016 18:53,Business,Elmhurst,New York,7.5,Meeting
12,1/10/2016 19:12,1/10/2016 19:32,Business,Midtown,East Harlem,6.2,Meeting
13,1/11/2016 8:55,1/11/2016 9:21,Business,East Harlem,NoMad,6.4,Temporary Site
14,1/11/2016 11:56,1/11/2016 12:03,Business,Flatiron District,Midtown,1.6,Errand/Supplies
15,1/11/2016 13:32,1/11/2016 13:46,Business,Midtown,Midtown East,1.7,Meal/Entertain
16,1/11/2016 14:30,1/11/2016 14:43,Business,Midtown East,Midtown,1.9,Meal/Entertain
17,1/12/2016 12:33,1/12/2016 12:49,Business,Midtown,Hudson Square,1.9,Meal/Entertain
18,1/12/2016 12:53,1/12/2016 13:09,Business,Hudson Square,Lower Manhattan,4.0,Meal/Entertain
19,1/12/2016 14:42,1/12/2016 14:56,Business,Lower Manhattan,Hudson Square,1.8,Errand/Supplies
20,1/12/2016 15:13,1/12/2016 15:28,Business,Hudson Square,Hell's Kitchen,2.4,Customer Visit
21,1/12/2016 15:42,1/12/2016 15:54,Business,Hell's Kitchen,Midtown,2.0,Errand/Supplies
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit
26,1/14/2016 21:39,1/14/2016 21:45,Business,Eagan Park,Jamestown Court,3.9,Errand/Supplies
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0,Errand/Supplies
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain
...,...,...,...,...,...,...,...
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4,Errand/Supplies
1127,12/28/2016 13:53,12/28/2016 14:01,Business,Kar?chi,Kar?chi,2.0,Errand/Supplies
1128,12/28/2016 15:04,12/28/2016 15:39,Business,Kar?chi,Unknown Location,8.5,Meal/Entertain
1129,12/28/2016 17:02,12/28/2016 17:16,Business,Unknown Location,Kar?chi,4.4,Errand/Supplies
1130,12/28/2016 18:33,12/28/2016 18:56,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies
1131,12/28/2016 22:44,12/28/2016 23:18,Business,Kar?chi,Kar?chi,5.1,Errand/Supplies
1132,12/29/2016 0:49,12/29/2016 1:06,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1135,12/29/2016 12:25,12/29/2016 12:33,Business,Kar?chi,Kar?chi,1.4,Errand/Supplies
1136,12/29/2016 13:17,12/29/2016 13:24,Business,Kar?chi,Kar?chi,1.1,Errand/Supplies
1137,12/29/2016 13:56,12/29/2016 14:11,Business,Kar?chi,Kar?chi,4.1,Airport/Travel
1138,12/29/2016 14:42,12/29/2016 14:58,Business,Kar?chi,Kar?chi,6.1,Between Offices
1139,12/29/2016 15:05,12/29/2016 15:16,Business,Kar?chi,Kar?chi,1.3,Errand/Supplies
1140,12/29/2016 18:59,12/29/2016 19:14,Business,Kar?chi,Unknown Location,3.0,Meal/Entertain
1141,12/29/2016 19:50,12/29/2016 20:10,Business,Unknown Location,Kar?chi,4.1,Customer Visit
1142,12/29/2016 20:15,12/29/2016 20:45,Business,Kar?chi,Kar?chi,7.2,Meeting
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [43]:
df.iloc[0:5, 0:4] #0 : 5 is row ND 0:4 IS COLUMN , WHERE LAST ONE IS NOT INCLUDED

      START_DATE*       END_DATE* CATEGORY*       START*
0  1/1/2016 21:11  1/1/2016 21:17  Business  Fort Pierce
1   1/2/2016 1:25   1/2/2016 1:37  Business  Fort Pierce
2  1/2/2016 20:25  1/2/2016 20:38  Business  Fort Pierce
3  1/5/2016 17:31  1/5/2016 17:45  Business  Fort Pierce
4  1/6/2016 14:42  1/6/2016 15:49  Business  Fort Pierce

In [44]:
## Positional Indexing
df.iloc[0:4,[0,2]]

      START_DATE* CATEGORY*
0  1/1/2016 21:11  Business
1   1/2/2016 1:25  Business
2  1/2/2016 20:25  Business
3  1/5/2016 17:31  Business

In [45]:
df.iloc[:,0:4] #i want all the rows but only 4 columns

           START_DATE*         END_DATE* CATEGORY*             START*
0       1/1/2016 21:11    1/1/2016 21:17  Business        Fort Pierce
1        1/2/2016 1:25     1/2/2016 1:37  Business        Fort Pierce
2       1/2/2016 20:25    1/2/2016 20:38  Business        Fort Pierce
3       1/5/2016 17:31    1/5/2016 17:45  Business        Fort Pierce
4       1/6/2016 14:42    1/6/2016 15:49  Business        Fort Pierce
5       1/6/2016 17:15    1/6/2016 17:19  Business    West Palm Beach
6       1/6/2016 17:30    1/6/2016 17:35  Business    West Palm Beach
7       1/7/2016 13:27    1/7/2016 13:33  Business               Cary
8       1/10/2016 8:05    1/10/2016 8:25  Business               Cary
9      1/10/2016 12:17   1/10/2016 12:44  Business            Jamaica
10     1/10/2016 15:08   1/10/2016 15:51  Business           New York
11     1/10/2016 18:18   1/10/2016 18:53  Business           Elmhurst
12     1/10/2016 19:12   1/10/2016 19:32  Business            Midtown
13      1/11/2016 8:55    1/11/2016 9:21  Business        East Harlem
14     1/11/2016 11:56   1/11/2016 12:03  Business  Flatiron District
15     1/11/2016 13:32   1/11/2016 13:46  Business            Midtown
16     1/11/2016 14:30   1/11/2016 14:43  Business       Midtown East
17     1/12/2016 12:33   1/12/2016 12:49  Business            Midtown
18     1/12/2016 12:53   1/12/2016 13:09  Business      Hudson Square
19     1/12/2016 14:42   1/12/2016 14:56  Business    Lower Manhattan
20     1/12/2016 15:13   1/12/2016 15:28  Business      Hudson Square
21     1/12/2016 15:42   1/12/2016 15:54  Business     Hell's Kitchen
22     1/12/2016 16:02   1/12/2016 17:00  Business           New York
23     1/13/2016 13:54   1/13/2016 14:07  Business           Downtown
24     1/13/2016 15:00   1/13/2016 15:28  Business            Gulfton
25     1/14/2016 16:29   1/14/2016 17:05  Business            Houston
26     1/14/2016 21:39   1/14/2016 21:45  Business         Eagan Park
27      1/15/2016 0:41    1/15/2016 1:01  Business        Morrisville
28     1/15/2016 11:43   1/15/2016 12:03  Business               Cary
29     1/15/2016 13:26   1/15/2016 13:44  Business             Durham
...                ...               ...       ...                ...
1126  12/28/2016 11:42  12/28/2016 12:12  Business   Unknown Location
1127  12/28/2016 13:53  12/28/2016 14:01  Business            Kar?chi
1128  12/28/2016 15:04  12/28/2016 15:39  Business            Kar?chi
1129  12/28/2016 17:02  12/28/2016 17:16  Business   Unknown Location
1130  12/28/2016 18:33  12/28/2016 18:56  Business            Kar?chi
1131  12/28/2016 22:44  12/28/2016 23:18  Business            Kar?chi
1132   12/29/2016 0:49   12/29/2016 1:06  Business            Kar?chi
1133   12/29/2016 9:44  12/29/2016 10:07  Business            Kar?chi
1134  12/29/2016 11:28  12/29/2016 12:00  Business   Unknown Location
1135  12/29/2016 12:25  12/29/2016 12:33  Business            Kar?chi
1136  12/29/2016 13:17  12/29/2016 13:24  Business            Kar?chi
1137  12/29/2016 13:56  12/29/2016 14:11  Business            Kar?chi
1138  12/29/2016 14:42  12/29/2016 14:58  Business            Kar?chi
1139  12/29/2016 15:05  12/29/2016 15:16  Business            Kar?chi
1140  12/29/2016 18:59  12/29/2016 19:14  Business            Kar?chi
1141  12/29/2016 19:50  12/29/2016 20:10  Business   Unknown Location
1142  12/29/2016 20:15  12/29/2016 20:45  Business            Kar?chi
1143  12/29/2016 20:53  12/29/2016 21:42  Business            Kar?chi
1144  12/29/2016 23:14  12/29/2016 23:47  Business   Unknown Location
1145  12/30/2016 10:15  12/30/2016 10:33  Business            Kar?chi
1146  12/30/2016 11:31  12/30/2016 11:56  Business            Kar?chi
1147  12/30/2016 15:41  12/30/2016 16:03  Business            Kar?chi
1148  12/30/2016 16:45  12/30/2016 17:08  Business            Kar?chi
1149  12/30/2016 23:06  12/30/2016 23:10  Business            Kar?chi
1150   12/31/2016 1:07   12/31/2016 1:14  Business            Kar?chi
1151  12/31/2016 13:24  12/31/2016 13:42  Business            Kar?chi
1152  12/31/2016 15:03  12/31/2016 15:38  Business   Unknown Location
1153  12/31/2016 21:32  12/31/2016 21:50  Business         Katunayake
1154  12/31/2016 22:08  12/31/2016 23:51  Business            Gampaha
1155            Totals               NaN       NaN                NaN

[1156 rows x 4 columns]

In [46]:
df.iloc[:,:-1]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8
11,1/10/2016 18:18,1/10/2016 18:53,Business,Elmhurst,New York,7.5
12,1/10/2016 19:12,1/10/2016 19:32,Business,Midtown,East Harlem,6.2
13,1/11/2016 8:55,1/11/2016 9:21,Business,East Harlem,NoMad,6.4
14,1/11/2016 11:56,1/11/2016 12:03,Business,Flatiron District,Midtown,1.6
15,1/11/2016 13:32,1/11/2016 13:46,Business,Midtown,Midtown East,1.7
16,1/11/2016 14:30,1/11/2016 14:43,Business,Midtown East,Midtown,1.9
17,1/12/2016 12:33,1/12/2016 12:49,Business,Midtown,Hudson Square,1.9
18,1/12/2016 12:53,1/12/2016 13:09,Business,Hudson Square,Lower Manhattan,4.0
19,1/12/2016 14:42,1/12/2016 14:56,Business,Lower Manhattan,Hudson Square,1.8
20,1/12/2016 15:13,1/12/2016 15:28,Business,Hudson Square,Hell's Kitchen,2.4
21,1/12/2016 15:42,1/12/2016 15:54,Business,Hell's Kitchen,Midtown,2.0
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9
26,1/14/2016 21:39,1/14/2016 21:45,Business,Eagan Park,Jamestown Court,3.9
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4
...,...,...,...,...,...,...
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4
1127,12/28/2016 13:53,12/28/2016 14:01,Business,Kar?chi,Kar?chi,2.0
1128,12/28/2016 15:04,12/28/2016 15:39,Business,Kar?chi,Unknown Location,8.5
1129,12/28/2016 17:02,12/28/2016 17:16,Business,Unknown Location,Kar?chi,4.4
1130,12/28/2016 18:33,12/28/2016 18:56,Business,Kar?chi,Kar?chi,3.8
1131,12/28/2016 22:44,12/28/2016 23:18,Business,Kar?chi,Kar?chi,5.1
1132,12/29/2016 0:49,12/29/2016 1:06,Business,Kar?chi,Kar?chi,3.8
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9
1135,12/29/2016 12:25,12/29/2016 12:33,Business,Kar?chi,Kar?chi,1.4
1136,12/29/2016 13:17,12/29/2016 13:24,Business,Kar?chi,Kar?chi,1.1
1137,12/29/2016 13:56,12/29/2016 14:11,Business,Kar?chi,Kar?chi,4.1
1138,12/29/2016 14:42,12/29/2016 14:58,Business,Kar?chi,Kar?chi,6.1
1139,12/29/2016 15:05,12/29/2016 15:16,Business,Kar?chi,Kar?chi,1.3
1140,12/29/2016 18:59,12/29/2016 19:14,Business,Kar?chi,Unknown Location,3.0
1141,12/29/2016 19:50,12/29/2016 20:10,Business,Unknown Location,Kar?chi,4.1
1142,12/29/2016 20:15,12/29/2016 20:45,Business,Kar?chi,Kar?chi,7.2
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2
1155,Totals,NaN,NaN,NaN,NaN,12204.7

In [47]:
palak=df.iloc[:,:-1]
print(df.shape)
palak.shape #if i dont wanna change my original framework

(1156, 7)

(1156, 6)

In [48]:
df.iloc[0:4,0:3]

      START_DATE*       END_DATE* CATEGORY*
0  1/1/2016 21:11  1/1/2016 21:17  Business
1   1/2/2016 1:25   1/2/2016 1:37  Business
2  1/2/2016 20:25  1/2/2016 20:38  Business
3  1/5/2016 17:31  1/5/2016 17:45  Business

In [49]:
# label based indexing
df.loc[:,["START_DATE*","CATEGORY*"]].head()

      START_DATE* CATEGORY*
0  1/1/2016 21:11  Business
1   1/2/2016 1:25  Business
2  1/2/2016 20:25  Business
3  1/5/2016 17:31  Business
4  1/6/2016 14:42  Business

In [50]:
# label based indexing
df.loc[:,"START*"]

0             Fort Pierce
1             Fort Pierce
2             Fort Pierce
3             Fort Pierce
4             Fort Pierce
5         West Palm Beach
6         West Palm Beach
7                    Cary
8                    Cary
9                 Jamaica
10               New York
11               Elmhurst
12                Midtown
13            East Harlem
14      Flatiron District
15                Midtown
16           Midtown East
17                Midtown
18          Hudson Square
19        Lower Manhattan
20          Hudson Square
21         Hell's Kitchen
22               New York
23               Downtown
24                Gulfton
25                Houston
26             Eagan Park
27            Morrisville
28                   Cary
29                 Durham
              ...
1126     Unknown Location
1127              Kar?chi
1128              Kar?chi
1129     Unknown Location
1130              Kar?chi
1131              Kar?chi
1132              Kar?chi
1133              Kar?chi
1134     Unknown Location
1135              Kar?chi
1136              Kar?chi
1137              Kar?chi
1138              Kar?chi
1139              Kar?chi
1140              Kar?chi
1141     Unknown Location
1142              Kar?chi
1143              Kar?chi
1144     Unknown Location
1145              Kar?chi
1146              Kar?chi
1147              Kar?chi
1148              Kar?chi
1149              Kar?chi
1150              Kar?chi
1151              Kar?chi
1152     Unknown Location
1153           Katunayake
1154              Gampaha
1155                  NaN
Name: START*, Length: 1156, dtype: object

In [51]:
# label based indexing
df.loc[:,["START*","STOP*"]]

                 START*             STOP*
0           Fort Pierce       Fort Pierce
1           Fort Pierce       Fort Pierce
2           Fort Pierce       Fort Pierce
3           Fort Pierce       Fort Pierce
4           Fort Pierce   West Palm Beach
5       West Palm Beach   West Palm Beach
6       West Palm Beach        Palm Beach
7                  Cary              Cary
8                  Cary       Morrisville
9               Jamaica          New York
10             New York            Queens
11             Elmhurst          New York
12              Midtown       East Harlem
13          East Harlem             NoMad
14    Flatiron District           Midtown
15              Midtown      Midtown East
16         Midtown East           Midtown
17              Midtown     Hudson Square
18        Hudson Square   Lower Manhattan
19      Lower Manhattan     Hudson Square
20        Hudson Square    Hell's Kitchen
21       Hell's Kitchen           Midtown
22             New York     Queens County
23             Downtown           Gulfton
24              Gulfton          Downtown
25              Houston           Houston
26           Eagan Park   Jamestown Court
27          Morrisville              Cary
28                 Cary            Durham
29               Durham              Cary
...                 ...               ...
1126   Unknown Location           Kar?chi
1127            Kar?chi           Kar?chi
1128            Kar?chi  Unknown Location
1129   Unknown Location           Kar?chi
1130            Kar?chi           Kar?chi
1131            Kar?chi           Kar?chi
1132            Kar?chi           Kar?chi
1133            Kar?chi  Unknown Location
1134   Unknown Location           Kar?chi
1135            Kar?chi           Kar?chi
1136            Kar?chi           Kar?chi
1137            Kar?chi           Kar?chi
1138            Kar?chi           Kar?chi
1139            Kar?chi           Kar?chi
1140            Kar?chi  Unknown Location
1141   Unknown Location           Kar?chi
1142            Kar?chi           Kar?chi
1143            Kar?chi  Unknown Location
1144   Unknown Location           Kar?chi
1145            Kar?chi           Kar?chi
1146            Kar?chi           Kar?chi
1147            Kar?chi           Kar?chi
1148            Kar?chi           Kar?chi
1149            Kar?chi           Kar?chi
1150            Kar?chi           Kar?chi
1151            Kar?chi  Unknown Location
1152   Unknown Location  Unknown Location
1153         Katunayake           Gampaha
1154            Gampaha         Ilukwatta
1155                NaN               NaN

[1156 rows x 2 columns]

In [52]:
df[["START*","STOP*"]] #ANOTHER METHOD

                 START*             STOP*
0           Fort Pierce       Fort Pierce
1           Fort Pierce       Fort Pierce
2           Fort Pierce       Fort Pierce
3           Fort Pierce       Fort Pierce
4           Fort Pierce   West Palm Beach
5       West Palm Beach   West Palm Beach
6       West Palm Beach        Palm Beach
7                  Cary              Cary
8                  Cary       Morrisville
9               Jamaica          New York
10             New York            Queens
11             Elmhurst          New York
12              Midtown       East Harlem
13          East Harlem             NoMad
14    Flatiron District           Midtown
15              Midtown      Midtown East
16         Midtown East           Midtown
17              Midtown     Hudson Square
18        Hudson Square   Lower Manhattan
19      Lower Manhattan     Hudson Square
20        Hudson Square    Hell's Kitchen
21       Hell's Kitchen           Midtown
22             New York     Queens County
23             Downtown           Gulfton
24              Gulfton          Downtown
25              Houston           Houston
26           Eagan Park   Jamestown Court
27          Morrisville              Cary
28                 Cary            Durham
29               Durham              Cary
...                 ...               ...
1126   Unknown Location           Kar?chi
1127            Kar?chi           Kar?chi
1128            Kar?chi  Unknown Location
1129   Unknown Location           Kar?chi
1130            Kar?chi           Kar?chi
1131            Kar?chi           Kar?chi
1132            Kar?chi           Kar?chi
1133            Kar?chi  Unknown Location
1134   Unknown Location           Kar?chi
1135            Kar?chi           Kar?chi
1136            Kar?chi           Kar?chi
1137            Kar?chi           Kar?chi
1138            Kar?chi           Kar?chi
1139            Kar?chi           Kar?chi
1140            Kar?chi  Unknown Location
1141   Unknown Location           Kar?chi
1142            Kar?chi           Kar?chi
1143            Kar?chi  Unknown Location
1144   Unknown Location           Kar?chi
1145            Kar?chi           Kar?chi
1146            Kar?chi           Kar?chi
1147            Kar?chi           Kar?chi
1148            Kar?chi           Kar?chi
1149            Kar?chi           Kar?chi
1150            Kar?chi           Kar?chi
1151            Kar?chi  Unknown Location
1152   Unknown Location  Unknown Location
1153         Katunayake           Gampaha
1154            Gampaha         Ilukwatta
1155                NaN               NaN

[1156 rows x 2 columns]

In [53]:
# label based indexing
df.loc[:,["START*","STOP*"]]
abc= df.loc[:,"START*"]
type(abc)

                 START*             STOP*
0           Fort Pierce       Fort Pierce
1           Fort Pierce       Fort Pierce
2           Fort Pierce       Fort Pierce
3           Fort Pierce       Fort Pierce
4           Fort Pierce   West Palm Beach
5       West Palm Beach   West Palm Beach
6       West Palm Beach        Palm Beach
7                  Cary              Cary
8                  Cary       Morrisville
9               Jamaica          New York
10             New York            Queens
11             Elmhurst          New York
12              Midtown       East Harlem
13          East Harlem             NoMad
14    Flatiron District           Midtown
15              Midtown      Midtown East
16         Midtown East           Midtown
17              Midtown     Hudson Square
18        Hudson Square   Lower Manhattan
19      Lower Manhattan     Hudson Square
20        Hudson Square    Hell's Kitchen
21       Hell's Kitchen           Midtown
22             New York     Queens County
23             Downtown           Gulfton
24              Gulfton          Downtown
25              Houston           Houston
26           Eagan Park   Jamestown Court
27          Morrisville              Cary
28                 Cary            Durham
29               Durham              Cary
...                 ...               ...
1126   Unknown Location           Kar?chi
1127            Kar?chi           Kar?chi
1128            Kar?chi  Unknown Location
1129   Unknown Location           Kar?chi
1130            Kar?chi           Kar?chi
1131            Kar?chi           Kar?chi
1132            Kar?chi           Kar?chi
1133            Kar?chi  Unknown Location
1134   Unknown Location           Kar?chi
1135            Kar?chi           Kar?chi
1136            Kar?chi           Kar?chi
1137            Kar?chi           Kar?chi
1138            Kar?chi           Kar?chi
1139            Kar?chi           Kar?chi
1140            Kar?chi  Unknown Location
1141   Unknown Location           Kar?chi
1142            Kar?chi           Kar?chi
1143            Kar?chi  Unknown Location
1144   Unknown Location           Kar?chi
1145            Kar?chi           Kar?chi
1146            Kar?chi           Kar?chi
1147            Kar?chi           Kar?chi
1148            Kar?chi           Kar?chi
1149            Kar?chi           Kar?chi
1150            Kar?chi           Kar?chi
1151            Kar?chi  Unknown Location
1152   Unknown Location  Unknown Location
1153         Katunayake           Gampaha
1154            Gampaha         Ilukwatta
1155                NaN               NaN

[1156 rows x 2 columns]

pandas.core.series.Series

### In Class assignment

Extract first 5 rows and columns START_DATE* and MILES*

In [54]:
df.loc[0:4,["START_DATE*","MILES*"]]

      START_DATE*  MILES*
0  1/1/2016 21:11     5.1
1   1/2/2016 1:25     5.0
2  1/2/2016 20:25     4.8
3  1/5/2016 17:31     4.7
4  1/6/2016 14:42    63.7

### Filtering

In [55]:
df[df["MILES*"] > 10]
df2 = df[df["MILES*"] > 10]
df2

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain
34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
35,1/20/2016 11:48,1/20/2016 12:19,Business,Fayetteville Street,Umstead,15.1,Meeting
36,1/20/2016 13:25,1/20/2016 14:19,Business,Raleigh,Cary,40.2,Customer Visit
46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
49,1/27/2016 14:46,1/27/2016 15:08,Business,Raleigh,Cary,12.9,Customer Visit
50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
51,1/28/2016 15:11,1/28/2016 15:31,Business,Meredith Townes,Leesville Hollow,14.7,Meeting
52,1/28/2016 16:21,1/28/2016 16:51,Business,Raleigh,Cary,15.7,Meeting
55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
56,1/29/2016 13:24,1/29/2016 13:47,Business,Durham,Cary,10.1,Meeting
61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
62,2/1/2016 12:10,2/1/2016 12:43,Business,Chapel Hill,Cary,23.3,Customer Visit
74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
75,2/5/2016 13:22,2/5/2016 13:41,Business,Durham,Cary,10.4,Meeting
76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
93,2/11/2016 18:24,2/11/2016 18:46,Business,Raleigh,Morrisville,13.5,Temporary Site
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
98,2/12/2016 13:02,2/12/2016 13:36,Business,Raleigh,Cary,18.0,Meeting
100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
106,2/14/2016 16:35,2/14/2016 17:02,Business,New York,Long Island City,13.0,Meeting
...,...,...,...,...,...,...,...
998,11/25/2016 13:13,11/25/2016 13:31,Business,Durham,Cary,11.1,Meeting
1002,11/26/2016 18:29,11/26/2016 19:04,Business,Holly Springs,Cary,13.3,Between Offices
1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
1037,12/10/2016 14:42,12/10/2016 15:18,Business,Fuquay-Varina,Cary,15.6,Errand/Supplies
1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting
1058,12/18/2016 16:38,12/18/2016 17:25,Business,Unknown Location,Unknown Location,10.2,Errand/Supplies
1067,12/19/2016 15:09,12/19/2016 15:38,Business,Unknown Location,Rawalpindi,10.2,Customer Visit
1070,12/19/2016 19:55,12/19/2016 20:30,Business,Unknown Location,Unknown Location,11.0,Meeting
1071,12/20/2016 8:49,12/20/2016 9:24,Business,Unknown Location,Rawalpindi,12.0,NaN
1073,12/20/2016 11:30,12/20/2016 12:17,Business,Rawalpindi,Unknown Location,19.4,Meeting
1078,12/20/2016 18:47,12/20/2016 19:21,Business,Islamabad,Unknown Location,10.3,Customer Visit
1079,12/21/2016 7:42,12/21/2016 8:10,Business,Unknown Location,Unknown Location,11.5,Meeting
1082,12/21/2016 12:51,12/21/2016 13:33,Business,Unknown Location,Unknown Location,16.2,Meeting
1087,12/21/2016 19:49,12/21/2016 20:35,Business,Unknown Location,Rawalpindi,12.0,Meeting
1088,12/21/2016 20:56,12/21/2016 23:42,Business,Rawalpindi,Unknown Location,103.0,Meeting
1089,12/22/2016 15:40,12/22/2016 16:38,Business,Unknown Location,Unknown Location,32.3,Meeting
1091,12/22/2016 17:27,12/22/2016 17:53,Business,Unknown Location,Unknown Location,11.6,Meeting
1092,12/22/2016 17:56,12/22/2016 18:29,Business,Unknown Location,Unknown Location,23.2,Meeting
1094,12/22/2016 18:38,12/22/2016 18:47,Business,Unknown Location,Unknown Location,12.3,Temporary Site
1095,12/22/2016 19:04,12/22/2016 19:50,Business,Unknown Location,Lahore,14.0,Meeting
1104,12/24/2016 9:19,12/24/2016 9:55,Business,Unknown Location,Lahore,10.7,Meal/Entertain
1125,12/28/2016 8:34,12/28/2016 9:06,Business,Kar?chi,Unknown Location,10.3,Meal/Entertain
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4,Errand/Supplies
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain
34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
35,1/20/2016 11:48,1/20/2016 12:19,Business,Fayetteville Street,Umstead,15.1,Meeting
36,1/20/2016 13:25,1/20/2016 14:19,Business,Raleigh,Cary,40.2,Customer Visit
46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
49,1/27/2016 14:46,1/27/2016 15:08,Business,Raleigh,Cary,12.9,Customer Visit
50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
51,1/28/2016 15:11,1/28/2016 15:31,Business,Meredith Townes,Leesville Hollow,14.7,Meeting
52,1/28/2016 16:21,1/28/2016 16:51,Business,Raleigh,Cary,15.7,Meeting
55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
56,1/29/2016 13:24,1/29/2016 13:47,Business,Durham,Cary,10.1,Meeting
61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
62,2/1/2016 12:10,2/1/2016 12:43,Business,Chapel Hill,Cary,23.3,Customer Visit
74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
75,2/5/2016 13:22,2/5/2016 13:41,Business,Durham,Cary,10.4,Meeting
76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
93,2/11/2016 18:24,2/11/2016 18:46,Business,Raleigh,Morrisville,13.5,Temporary Site
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
98,2/12/2016 13:02,2/12/2016 13:36,Business,Raleigh,Cary,18.0,Meeting
100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
106,2/14/2016 16:35,2/14/2016 17:02,Business,New York,Long Island City,13.0,Meeting
...,...,...,...,...,...,...,...
998,11/25/2016 13:13,11/25/2016 13:31,Business,Durham,Cary,11.1,Meeting
1002,11/26/2016 18:29,11/26/2016 19:04,Business,Holly Springs,Cary,13.3,Between Offices
1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
1037,12/10/2016 14:42,12/10/2016 15:18,Business,Fuquay-Varina,Cary,15.6,Errand/Supplies
1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting
1058,12/18/2016 16:38,12/18/2016 17:25,Business,Unknown Location,Unknown Location,10.2,Errand/Supplies
1067,12/19/2016 15:09,12/19/2016 15:38,Business,Unknown Location,Rawalpindi,10.2,Customer Visit
1070,12/19/2016 19:55,12/19/2016 20:30,Business,Unknown Location,Unknown Location,11.0,Meeting
1071,12/20/2016 8:49,12/20/2016 9:24,Business,Unknown Location,Rawalpindi,12.0,NaN
1073,12/20/2016 11:30,12/20/2016 12:17,Business,Rawalpindi,Unknown Location,19.4,Meeting
1078,12/20/2016 18:47,12/20/2016 19:21,Business,Islamabad,Unknown Location,10.3,Customer Visit
1079,12/21/2016 7:42,12/21/2016 8:10,Business,Unknown Location,Unknown Location,11.5,Meeting
1082,12/21/2016 12:51,12/21/2016 13:33,Business,Unknown Location,Unknown Location,16.2,Meeting
1087,12/21/2016 19:49,12/21/2016 20:35,Business,Unknown Location,Rawalpindi,12.0,Meeting
1088,12/21/2016 20:56,12/21/2016 23:42,Business,Rawalpindi,Unknown Location,103.0,Meeting
1089,12/22/2016 15:40,12/22/2016 16:38,Business,Unknown Location,Unknown Location,32.3,Meeting
1091,12/22/2016 17:27,12/22/2016 17:53,Business,Unknown Location,Unknown Location,11.6,Meeting
1092,12/22/2016 17:56,12/22/2016 18:29,Business,Unknown Location,Unknown Location,23.2,Meeting
1094,12/22/2016 18:38,12/22/2016 18:47,Business,Unknown Location,Unknown Location,12.3,Temporary Site
1095,12/22/2016 19:04,12/22/2016 19:50,Business,Unknown Location,Lahore,14.0,Meeting
1104,12/24/2016 9:19,12/24/2016 9:55,Business,Unknown Location,Lahore,10.7,Meal/Entertain
1125,12/28/2016 8:34,12/28/2016 9:06,Business,Kar?chi,Unknown Location,10.3,Meal/Entertain
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4,Errand/Supplies
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN

In [56]:
df3 = df2.loc[0:3]

In [57]:
# find out all rides greater than 10 miles
df.loc[df["MILES*"] > 10].head()

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting

In [58]:
# Find out all rides from New York
df.loc[df["START*"]=="New York",["MILES*"]].head()

     MILES*
10     10.8
22     15.1
106    13.0
423    16.3

In [59]:
# Find out all rides from Cary & NewYork         
my_rides=df[df["START*"].isin(["Cary","NewYork"])]
my_rides.head(n=10)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
30,1/18/2016 14:55,1/18/2016 15:06,Business,Cary,Cary,4.8,Meal/Entertain
34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
37,1/21/2016 14:25,1/21/2016 14:29,Business,Cary,Cary,1.6,Errand/Supplies
38,1/21/2016 14:43,1/21/2016 14:51,Business,Cary,Cary,2.4,Meal/Entertain
39,1/21/2016 16:01,1/21/2016 16:06,Business,Cary,Cary,1.0,Meal/Entertain
43,1/26/2016 17:17,1/26/2016 17:22,Business,Cary,Cary,1.4,Errand/Supplies
44,1/26/2016 17:27,1/26/2016 17:29,Business,Cary,Cary,0.5,Errand/Supplies

In [60]:
# Find out all rides from Cary & Morrisville          
my_rides=df[df["START*"].isin(["Cary","Morrisville"])]
my_rides.iloc[0:5,:]

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0,Errand/Supplies
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
30,1/18/2016 14:55,1/18/2016 15:06,Business,Cary,Cary,4.8,Meal/Entertain

In [61]:
# Find out all rides to Cary & Morrisville          
df.loc[df["START*"].isin(["Cary","Morrisville"])].shape

(286, 7)

In [62]:
df.loc[~df["START*"].isin(["Cary","Morrisville"])].shape

(870, 7)

#### In class assignment

1. Find all trips with distance > 10 miles and originating from Cary and Morris.

2. Extract top 3 rows from the filtered dataset

In [63]:
df3 = df.loc[(df["MILES*"] > 10) & (df["START*"].isin(["Cary", "Morrisville"]))]
df3.reset_index() #to change the index
df3

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
1,34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
2,46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
3,50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
4,55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
5,61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
6,74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
7,76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
8,91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
9,97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
10,100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
11,164,2/26/2016 11:35,2/26/2016 11:59,Business,Cary,Durham,10.6,Meeting
12,185,3/4/2016 11:46,3/4/2016 12:06,Business,Cary,Durham,10.4,Meeting
13,187,3/4/2016 13:40,3/4/2016 14:09,Business,Cary,Raleigh,15.7,Customer Visit
14,200,3/7/2016 9:23,3/7/2016 9:47,Business,Cary,Raleigh,12.4,Customer Visit
15,268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
16,304,4/8/2016 12:30,4/8/2016 12:48,Business,Cary,Durham,10.5,Meeting
17,307,4/8/2016 14:43,4/8/2016 15:20,Business,Cary,Raleigh,19.1,Meeting
18,314,4/14/2016 7:29,4/14/2016 8:09,Business,Cary,Holly Springs,15.3,Temporary Site
19,316,4/15/2016 11:36,4/15/2016 12:07,Business,Cary,Raleigh,11.9,Temporary Site
20,323,4/22/2016 8:25,4/22/2016 9:04,Business,Cary,Raleigh,13.6,Meeting
21,325,4/22/2016 12:08,4/22/2016 12:28,Business,Cary,Durham,10.4,Meeting
22,334,4/28/2016 12:09,4/28/2016 12:34,Business,Cary,Raleigh,12.4,Customer Visit
23,339,4/29/2016 18:46,4/29/2016 19:18,Business,Cary,Durham,14.2,Customer Visit
24,388,5/28/2016 14:35,5/28/2016 15:04,Business,Morrisville,Cary,11.3,Customer Visit
25,389,5/31/2016 13:54,5/31/2016 14:41,Business,Cary,Raleigh,14.9,Meeting
26,394,6/3/2016 11:29,6/3/2016 11:49,Business,Cary,Durham,10.4,Meeting
27,411,6/6/2016 21:41,6/6/2016 22:00,Business,Cary,Durham,10.4,Meeting
28,413,6/7/2016 21:42,6/7/2016 22:00,Business,Cary,Durham,10.4,Meeting
29,424,6/10/2016 21:47,6/10/2016 22:04,Business,Cary,Durham,10.4,Meeting
...,...,...,...,...,...,...,...,...
36,505,7/2/2016 20:18,7/2/2016 20:36,Business,Cary,Durham,10.1,Meeting
37,513,7/4/2016 20:00,7/4/2016 20:17,Business,Cary,Durham,11.8,Meeting
38,541,7/13/2016 12:39,7/13/2016 13:20,Personal,Cary,Morrisville,23.5,NaN
39,545,7/14/2016 16:03,7/14/2016 16:34,Business,Morrisville,Morrisville,11.8,Errand/Supplies
40,546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
41,587,7/22/2016 15:49,7/22/2016 16:22,Business,Morrisville,Cary,12.2,NaN
42,593,7/23/2016 20:17,7/23/2016 20:33,Business,Cary,Durham,10.4,Meeting
43,604,7/27/2016 21:34,7/27/2016 21:57,Business,Morrisville,Raleigh,14.7,NaN
44,609,7/30/2016 17:02,7/30/2016 17:27,Business,Cary,Durham,14.0,NaN
45,642,8/9/2016 15:15,8/9/2016 15:36,Business,Cary,Raleigh,14.9,NaN
46,644,8/10/2016 16:56,8/10/2016 17:24,Business,Cary,Durham,12.9,NaN
47,651,8/11/2016 18:37,8/11/2016 19:29,Business,Cary,Wake Forest,31.7,NaN
48,816,10/16/2016 12:52,10/16/2016 13:11,Business,Cary,Durham,10.5,Meeting
49,822,10/17/2016 15:19,10/17/2016 15:57,Business,Cary,Raleigh,20.6,NaN
50,845,10/22/2016 13:26,10/22/2016 14:03,Business,Cary,Raleigh,17.2,NaN
51,847,10/23/2016 9:24,10/23/2016 10:05,Business,Cary,Raleigh,28.1,NaN
52,851,10/24/2016 14:57,10/24/2016 15:26,Business,Cary,Durham,16.4,NaN
53,854,10/25/2016 13:27,10/25/2016 14:08,Business,Cary,Apex,11.2,NaN
54,867,10/28/2016 11:34,10/28/2016 11:52,Business,Cary,Durham,10.4,Meeting
55,869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
56,884,10/31/2016 18:47,10/31/2016 19:16,Business,Morrisville,Raleigh,10.3,NaN
57,887,11/1/2016 11:50,11/1/2016 12:27,Business,Cary,Durham,16.5,NaN
58,973,11/19/2016 13:51,11/19/2016 14:10,Business,Cary,Durham,10.3,Meeting
59,979,11/20/2016 10:27,11/20/2016 11:32,Business,Cary,Cary,39.2,Between Offices
60,982,11/20/2016 17:45,11/20/2016 18:37,Business,Cary,Cary,18.5,Errand/Supplies
61,990,11/22/2016 15:51,11/22/2016 16:43,Business,Cary,Cary,12.7,Customer Visit
62,997,11/25/2016 11:47,11/25/2016 12:04,Business,Cary,Durham,10.3,Meeting
63,1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
64,1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
65,1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
164,2/26/2016 11:35,2/26/2016 11:59,Business,Cary,Durham,10.6,Meeting
185,3/4/2016 11:46,3/4/2016 12:06,Business,Cary,Durham,10.4,Meeting
187,3/4/2016 13:40,3/4/2016 14:09,Business,Cary,Raleigh,15.7,Customer Visit
200,3/7/2016 9:23,3/7/2016 9:47,Business,Cary,Raleigh,12.4,Customer Visit
268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
304,4/8/2016 12:30,4/8/2016 12:48,Business,Cary,Durham,10.5,Meeting
307,4/8/2016 14:43,4/8/2016 15:20,Business,Cary,Raleigh,19.1,Meeting
314,4/14/2016 7:29,4/14/2016 8:09,Business,Cary,Holly Springs,15.3,Temporary Site
316,4/15/2016 11:36,4/15/2016 12:07,Business,Cary,Raleigh,11.9,Temporary Site
323,4/22/2016 8:25,4/22/2016 9:04,Business,Cary,Raleigh,13.6,Meeting
325,4/22/2016 12:08,4/22/2016 12:28,Business,Cary,Durham,10.4,Meeting
334,4/28/2016 12:09,4/28/2016 12:34,Business,Cary,Raleigh,12.4,Customer Visit
339,4/29/2016 18:46,4/29/2016 19:18,Business,Cary,Durham,14.2,Customer Visit
388,5/28/2016 14:35,5/28/2016 15:04,Business,Morrisville,Cary,11.3,Customer Visit
389,5/31/2016 13:54,5/31/2016 14:41,Business,Cary,Raleigh,14.9,Meeting
394,6/3/2016 11:29,6/3/2016 11:49,Business,Cary,Durham,10.4,Meeting
411,6/6/2016 21:41,6/6/2016 22:00,Business,Cary,Durham,10.4,Meeting
413,6/7/2016 21:42,6/7/2016 22:00,Business,Cary,Durham,10.4,Meeting
424,6/10/2016 21:47,6/10/2016 22:04,Business,Cary,Durham,10.4,Meeting
...,...,...,...,...,...,...,...
505,7/2/2016 20:18,7/2/2016 20:36,Business,Cary,Durham,10.1,Meeting
513,7/4/2016 20:00,7/4/2016 20:17,Business,Cary,Durham,11.8,Meeting
541,7/13/2016 12:39,7/13/2016 13:20,Personal,Cary,Morrisville,23.5,NaN
545,7/14/2016 16:03,7/14/2016 16:34,Business,Morrisville,Morrisville,11.8,Errand/Supplies
546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
587,7/22/2016 15:49,7/22/2016 16:22,Business,Morrisville,Cary,12.2,NaN
593,7/23/2016 20:17,7/23/2016 20:33,Business,Cary,Durham,10.4,Meeting
604,7/27/2016 21:34,7/27/2016 21:57,Business,Morrisville,Raleigh,14.7,NaN
609,7/30/2016 17:02,7/30/2016 17:27,Business,Cary,Durham,14.0,NaN
642,8/9/2016 15:15,8/9/2016 15:36,Business,Cary,Raleigh,14.9,NaN
644,8/10/2016 16:56,8/10/2016 17:24,Business,Cary,Durham,12.9,NaN
651,8/11/2016 18:37,8/11/2016 19:29,Business,Cary,Wake Forest,31.7,NaN
816,10/16/2016 12:52,10/16/2016 13:11,Business,Cary,Durham,10.5,Meeting
822,10/17/2016 15:19,10/17/2016 15:57,Business,Cary,Raleigh,20.6,NaN
845,10/22/2016 13:26,10/22/2016 14:03,Business,Cary,Raleigh,17.2,NaN
847,10/23/2016 9:24,10/23/2016 10:05,Business,Cary,Raleigh,28.1,NaN
851,10/24/2016 14:57,10/24/2016 15:26,Business,Cary,Durham,16.4,NaN
854,10/25/2016 13:27,10/25/2016 14:08,Business,Cary,Apex,11.2,NaN
867,10/28/2016 11:34,10/28/2016 11:52,Business,Cary,Durham,10.4,Meeting
869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
884,10/31/2016 18:47,10/31/2016 19:16,Business,Morrisville,Raleigh,10.3,NaN
887,11/1/2016 11:50,11/1/2016 12:27,Business,Cary,Durham,16.5,NaN
973,11/19/2016 13:51,11/19/2016 14:10,Business,Cary,Durham,10.3,Meeting
979,11/20/2016 10:27,11/20/2016 11:32,Business,Cary,Cary,39.2,Between Offices
982,11/20/2016 17:45,11/20/2016 18:37,Business,Cary,Cary,18.5,Errand/Supplies
990,11/22/2016 15:51,11/22/2016 16:43,Business,Cary,Cary,12.7,Customer Visit
997,11/25/2016 11:47,11/25/2016 12:04,Business,Cary,Durham,10.3,Meeting
1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting

In [64]:
df3 = df.loc[(df["MILES*"] > 10) & (df["START*"].isin(["Cary", "Morrisville"]))]
df3.reset_index() #here you can change the data frame to any thing else
df3
df4

,index,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
0,28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
1,34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
2,46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
3,50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
4,55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
5,61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
6,74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
7,76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
8,91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
9,97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
10,100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
11,164,2/26/2016 11:35,2/26/2016 11:59,Business,Cary,Durham,10.6,Meeting
12,185,3/4/2016 11:46,3/4/2016 12:06,Business,Cary,Durham,10.4,Meeting
13,187,3/4/2016 13:40,3/4/2016 14:09,Business,Cary,Raleigh,15.7,Customer Visit
14,200,3/7/2016 9:23,3/7/2016 9:47,Business,Cary,Raleigh,12.4,Customer Visit
15,268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
16,304,4/8/2016 12:30,4/8/2016 12:48,Business,Cary,Durham,10.5,Meeting
17,307,4/8/2016 14:43,4/8/2016 15:20,Business,Cary,Raleigh,19.1,Meeting
18,314,4/14/2016 7:29,4/14/2016 8:09,Business,Cary,Holly Springs,15.3,Temporary Site
19,316,4/15/2016 11:36,4/15/2016 12:07,Business,Cary,Raleigh,11.9,Temporary Site
20,323,4/22/2016 8:25,4/22/2016 9:04,Business,Cary,Raleigh,13.6,Meeting
21,325,4/22/2016 12:08,4/22/2016 12:28,Business,Cary,Durham,10.4,Meeting
22,334,4/28/2016 12:09,4/28/2016 12:34,Business,Cary,Raleigh,12.4,Customer Visit
23,339,4/29/2016 18:46,4/29/2016 19:18,Business,Cary,Durham,14.2,Customer Visit
24,388,5/28/2016 14:35,5/28/2016 15:04,Business,Morrisville,Cary,11.3,Customer Visit
25,389,5/31/2016 13:54,5/31/2016 14:41,Business,Cary,Raleigh,14.9,Meeting
26,394,6/3/2016 11:29,6/3/2016 11:49,Business,Cary,Durham,10.4,Meeting
27,411,6/6/2016 21:41,6/6/2016 22:00,Business,Cary,Durham,10.4,Meeting
28,413,6/7/2016 21:42,6/7/2016 22:00,Business,Cary,Durham,10.4,Meeting
29,424,6/10/2016 21:47,6/10/2016 22:04,Business,Cary,Durham,10.4,Meeting
...,...,...,...,...,...,...,...,...
36,505,7/2/2016 20:18,7/2/2016 20:36,Business,Cary,Durham,10.1,Meeting
37,513,7/4/2016 20:00,7/4/2016 20:17,Business,Cary,Durham,11.8,Meeting
38,541,7/13/2016 12:39,7/13/2016 13:20,Personal,Cary,Morrisville,23.5,NaN
39,545,7/14/2016 16:03,7/14/2016 16:34,Business,Morrisville,Morrisville,11.8,Errand/Supplies
40,546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
41,587,7/22/2016 15:49,7/22/2016 16:22,Business,Morrisville,Cary,12.2,NaN
42,593,7/23/2016 20:17,7/23/2016 20:33,Business,Cary,Durham,10.4,Meeting
43,604,7/27/2016 21:34,7/27/2016 21:57,Business,Morrisville,Raleigh,14.7,NaN
44,609,7/30/2016 17:02,7/30/2016 17:27,Business,Cary,Durham,14.0,NaN
45,642,8/9/2016 15:15,8/9/2016 15:36,Business,Cary,Raleigh,14.9,NaN
46,644,8/10/2016 16:56,8/10/2016 17:24,Business,Cary,Durham,12.9,NaN
47,651,8/11/2016 18:37,8/11/2016 19:29,Business,Cary,Wake Forest,31.7,NaN
48,816,10/16/2016 12:52,10/16/2016 13:11,Business,Cary,Durham,10.5,Meeting
49,822,10/17/2016 15:19,10/17/2016 15:57,Business,Cary,Raleigh,20.6,NaN
50,845,10/22/2016 13:26,10/22/2016 14:03,Business,Cary,Raleigh,17.2,NaN
51,847,10/23/2016 9:24,10/23/2016 10:05,Business,Cary,Raleigh,28.1,NaN
52,851,10/24/2016 14:57,10/24/2016 15:26,Business,Cary,Durham,16.4,NaN
53,854,10/25/2016 13:27,10/25/2016 14:08,Business,Cary,Apex,11.2,NaN
54,867,10/28/2016 11:34,10/28/2016 11:52,Business,Cary,Durham,10.4,Meeting
55,869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
56,884,10/31/2016 18:47,10/31/2016 19:16,Business,Morrisville,Raleigh,10.3,NaN
57,887,11/1/2016 11:50,11/1/2016 12:27,Business,Cary,Durham,16.5,NaN
58,973,11/19/2016 13:51,11/19/2016 14:10,Business,Cary,Durham,10.3,Meeting
59,979,11/20/2016 10:27,11/20/2016 11:32,Business,Cary,Cary,39.2,Between Offices
60,982,11/20/2016 17:45,11/20/2016 18:37,Business,Cary,Cary,18.5,Errand/Supplies
61,990,11/22/2016 15:51,11/22/2016 16:43,Business,Cary,Cary,12.7,Customer Visit
62,997,11/25/2016 11:47,11/25/2016 12:04,Business,Cary,Durham,10.3,Meeting
63,1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
64,1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
65,1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain
34,1/20/2016 10:36,1/20/2016 11:11,Business,Cary,Raleigh,17.1,Meeting
46,1/27/2016 10:19,1/27/2016 10:48,Business,Cary,Raleigh,18.7,Customer Visit
50,1/28/2016 12:28,1/28/2016 13:00,Business,Cary,Raleigh,19.0,Temporary Site
55,1/29/2016 11:43,1/29/2016 12:03,Business,Cary,Durham,10.4,Meeting
61,2/1/2016 10:35,2/1/2016 11:15,Business,Cary,Chapel Hill,19.4,Customer Visit
74,2/5/2016 11:47,2/5/2016 12:07,Business,Cary,Durham,10.4,Meeting
76,2/6/2016 16:20,2/6/2016 16:53,Business,Cary,Raleigh,11.4,Between Offices
91,2/11/2016 16:28,2/11/2016 17:10,Business,Cary,Raleigh,17.3,Meal/Entertain
97,2/12/2016 11:14,2/12/2016 11:35,Business,Morrisville,Raleigh,17.0,Customer Visit
100,2/12/2016 15:33,2/12/2016 16:06,Business,Morrisville,Cary,11.5,Customer Visit
164,2/26/2016 11:35,2/26/2016 11:59,Business,Cary,Durham,10.6,Meeting
185,3/4/2016 11:46,3/4/2016 12:06,Business,Cary,Durham,10.4,Meeting
187,3/4/2016 13:40,3/4/2016 14:09,Business,Cary,Raleigh,15.7,Customer Visit
200,3/7/2016 9:23,3/7/2016 9:47,Business,Cary,Raleigh,12.4,Customer Visit
268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
304,4/8/2016 12:30,4/8/2016 12:48,Business,Cary,Durham,10.5,Meeting
307,4/8/2016 14:43,4/8/2016 15:20,Business,Cary,Raleigh,19.1,Meeting
314,4/14/2016 7:29,4/14/2016 8:09,Business,Cary,Holly Springs,15.3,Temporary Site
316,4/15/2016 11:36,4/15/2016 12:07,Business,Cary,Raleigh,11.9,Temporary Site
323,4/22/2016 8:25,4/22/2016 9:04,Business,Cary,Raleigh,13.6,Meeting
325,4/22/2016 12:08,4/22/2016 12:28,Business,Cary,Durham,10.4,Meeting
334,4/28/2016 12:09,4/28/2016 12:34,Business,Cary,Raleigh,12.4,Customer Visit
339,4/29/2016 18:46,4/29/2016 19:18,Business,Cary,Durham,14.2,Customer Visit
388,5/28/2016 14:35,5/28/2016 15:04,Business,Morrisville,Cary,11.3,Customer Visit
389,5/31/2016 13:54,5/31/2016 14:41,Business,Cary,Raleigh,14.9,Meeting
394,6/3/2016 11:29,6/3/2016 11:49,Business,Cary,Durham,10.4,Meeting
411,6/6/2016 21:41,6/6/2016 22:00,Business,Cary,Durham,10.4,Meeting
413,6/7/2016 21:42,6/7/2016 22:00,Business,Cary,Durham,10.4,Meeting
424,6/10/2016 21:47,6/10/2016 22:04,Business,Cary,Durham,10.4,Meeting
...,...,...,...,...,...,...,...
505,7/2/2016 20:18,7/2/2016 20:36,Business,Cary,Durham,10.1,Meeting
513,7/4/2016 20:00,7/4/2016 20:17,Business,Cary,Durham,11.8,Meeting
541,7/13/2016 12:39,7/13/2016 13:20,Personal,Cary,Morrisville,23.5,NaN
545,7/14/2016 16:03,7/14/2016 16:34,Business,Morrisville,Morrisville,11.8,Errand/Supplies
546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
587,7/22/2016 15:49,7/22/2016 16:22,Business,Morrisville,Cary,12.2,NaN
593,7/23/2016 20:17,7/23/2016 20:33,Business,Cary,Durham,10.4,Meeting
604,7/27/2016 21:34,7/27/2016 21:57,Business,Morrisville,Raleigh,14.7,NaN
609,7/30/2016 17:02,7/30/2016 17:27,Business,Cary,Durham,14.0,NaN
642,8/9/2016 15:15,8/9/2016 15:36,Business,Cary,Raleigh,14.9,NaN
644,8/10/2016 16:56,8/10/2016 17:24,Business,Cary,Durham,12.9,NaN
651,8/11/2016 18:37,8/11/2016 19:29,Business,Cary,Wake Forest,31.7,NaN
816,10/16/2016 12:52,10/16/2016 13:11,Business,Cary,Durham,10.5,Meeting
822,10/17/2016 15:19,10/17/2016 15:57,Business,Cary,Raleigh,20.6,NaN
845,10/22/2016 13:26,10/22/2016 14:03,Business,Cary,Raleigh,17.2,NaN
847,10/23/2016 9:24,10/23/2016 10:05,Business,Cary,Raleigh,28.1,NaN
851,10/24/2016 14:57,10/24/2016 15:26,Business,Cary,Durham,16.4,NaN
854,10/25/2016 13:27,10/25/2016 14:08,Business,Cary,Apex,11.2,NaN
867,10/28/2016 11:34,10/28/2016 11:52,Business,Cary,Durham,10.4,Meeting
869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
884,10/31/2016 18:47,10/31/2016 19:16,Business,Morrisville,Raleigh,10.3,NaN
887,11/1/2016 11:50,11/1/2016 12:27,Business,Cary,Durham,16.5,NaN
973,11/19/2016 13:51,11/19/2016 14:10,Business,Cary,Durham,10.3,Meeting
979,11/20/2016 10:27,11/20/2016 11:32,Business,Cary,Cary,39.2,Between Offices
982,11/20/2016 17:45,11/20/2016 18:37,Business,Cary,Cary,18.5,Errand/Supplies
990,11/22/2016 15:51,11/22/2016 16:43,Business,Cary,Cary,12.7,Customer Visit
997,11/25/2016 11:47,11/25/2016 12:04,Business,Cary,Durham,10.3,Meeting
1035,12/9/2016 22:03,12/9/2016 22:57,Business,Cary,Cary,18.9,Customer Visit
1036,12/10/2016 12:43,12/10/2016 13:16,Business,Cary,Fuquay-Varina,15.6,Meeting
1054,12/15/2016 14:20,12/15/2016 14:54,Business,Cary,Morrisville,10.6,Meeting

NameError: name 'df4' is not defined

In [ ]:
df3 = df.loc[(df["MILES*"] > 10) & (df["START*"].isin(["Cary", "Morrisville"]))]
df3.reset_index(inplace= True) #if i want df3 to be my final answer then inplace, that means if the index is mixed up it will add a new column called index in the form of 0,1.2,3 and a seperate column for the old index
df3

### Sorting

In [65]:
df.sort_values(by=["MILES*"],ascending=False).head(20)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN
269,3/25/2016 16:52,3/25/2016 22:22,Business,Latta,Jacksonville,310.3,Customer Visit
270,3/25/2016 22:54,3/26/2016 1:39,Business,Jacksonville,Kissimmee,201.0,Meeting
881,10/30/2016 15:22,10/30/2016 18:23,Business,Asheville,Mebane,195.9,NaN
776,9/27/2016 21:01,9/28/2016 2:37,Business,Unknown Location,Unknown Location,195.6,NaN
546,7/14/2016 16:39,7/14/2016 20:05,Business,Morrisville,Banner Elk,195.3,NaN
559,7/17/2016 12:20,7/17/2016 15:25,Personal,Boone,Cary,180.2,Commute
297,4/2/2016 19:38,4/2/2016 22:36,Business,Jacksonville,Ridgeland,174.2,Customer Visit
299,4/3/2016 2:00,4/3/2016 4:16,Business,Florence,Cary,159.3,Meeting
727,8/27/2016 16:15,8/27/2016 19:13,Business,Unknown Location,Unknown Location,156.9,NaN
298,4/2/2016 23:11,4/3/2016 1:34,Business,Ridgeland,Florence,144.0,Meeting
268,3/25/2016 13:24,3/25/2016 16:22,Business,Cary,Latta,144.0,Customer Visit
232,3/17/2016 12:52,3/17/2016 15:11,Business,Austin,Katy,136.0,Customer Visit
870,10/28/2016 18:13,10/28/2016 20:07,Business,Winston Salem,Asheville,133.6,Meeting
788,10/6/2016 17:23,10/6/2016 17:40,Business,R?walpindi,Unknown Location,112.6,NaN
869,10/28/2016 15:53,10/28/2016 17:59,Business,Cary,Winston Salem,107.0,Meeting
1088,12/21/2016 20:56,12/21/2016 23:42,Business,Rawalpindi,Unknown Location,103.0,Meeting
707,8/24/2016 13:01,8/24/2016 15:25,Business,Unknown Location,Unknown Location,96.2,NaN
871,10/28/2016 20:13,10/28/2016 22:00,Business,Asheville,Topton,91.8,Meeting
726,8/27/2016 14:01,8/27/2016 15:44,Business,Lahore,Unknown Location,86.6,NaN

In [66]:
df.sort_values(by=["START*", "MILES*"],ascending=[True,False]).head(5)

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*
906,11/4/2016 21:04,11/4/2016 21:20,Business,Agnew,Cory,4.3,NaN
911,11/6/2016 10:50,11/6/2016 11:04,Business,Agnew,Renaissance,2.4,NaN
908,11/5/2016 8:34,11/5/2016 8:43,Business,Agnew,Renaissance,2.2,NaN
910,11/5/2016 19:20,11/5/2016 19:28,Business,Agnew,Agnew,2.2,NaN
879,10/30/2016 12:58,10/30/2016 13:18,Business,Almond,Bryson City,15.2,NaN

### Conditionally adding columns

In [67]:
import numpy as np
df["miles_cat"] = np.where(df["MILES*"] > 5,"Long Trip","Short Trip") #np.where means that if miles is greater then 5 , mark it as long trip else short trip

In [68]:
df.head(30)
df["my_year"]=np.array(2000,2010)
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,miles_cat
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,Short Trip
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting,Long Trip
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting,Short Trip
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting,Long Trip
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit,Long Trip
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting,Long Trip
11,1/10/2016 18:18,1/10/2016 18:53,Business,Elmhurst,New York,7.5,Meeting,Long Trip
12,1/10/2016 19:12,1/10/2016 19:32,Business,Midtown,East Harlem,6.2,Meeting,Long Trip
13,1/11/2016 8:55,1/11/2016 9:21,Business,East Harlem,NoMad,6.4,Temporary Site,Long Trip
14,1/11/2016 11:56,1/11/2016 12:03,Business,Flatiron District,Midtown,1.6,Errand/Supplies,Short Trip
15,1/11/2016 13:32,1/11/2016 13:46,Business,Midtown,Midtown East,1.7,Meal/Entertain,Short Trip
16,1/11/2016 14:30,1/11/2016 14:43,Business,Midtown East,Midtown,1.9,Meal/Entertain,Short Trip
17,1/12/2016 12:33,1/12/2016 12:49,Business,Midtown,Hudson Square,1.9,Meal/Entertain,Short Trip
18,1/12/2016 12:53,1/12/2016 13:09,Business,Hudson Square,Lower Manhattan,4.0,Meal/Entertain,Short Trip
19,1/12/2016 14:42,1/12/2016 14:56,Business,Lower Manhattan,Hudson Square,1.8,Errand/Supplies,Short Trip
20,1/12/2016 15:13,1/12/2016 15:28,Business,Hudson Square,Hell's Kitchen,2.4,Customer Visit,Short Trip
21,1/12/2016 15:42,1/12/2016 15:54,Business,Hell's Kitchen,Midtown,2.0,Errand/Supplies,Short Trip
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting,Long Trip
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting,Long Trip
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting,Long Trip
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit,Long Trip
26,1/14/2016 21:39,1/14/2016 21:45,Business,Eagan Park,Jamestown Court,3.9,Errand/Supplies,Short Trip
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0,Errand/Supplies,Long Trip
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain,Long Trip
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain,Long Trip

TypeError: data type not understood

In [69]:
df["miles_cat"].value_counts()

Long Trip     654
Short Trip    502
Name: miles_cat, dtype: int64

In [70]:
df.loc[df["MILES*"] > 5].shape

(654, 8)

## In class Assignment

Create a new column with the following condition:

a) > 10 - Long Trip

b) 5 - 10  - Medium

c) < 5 - Short Trip

In [71]:
import numpy as np
df["new"] = np.where(df["MILES*"] > 10 ,"Long Trip","medium and Short Trip")
df["new"] = np.where(df["MILES*"] < 5 ,"Short Trip ","medium ")
df

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,miles_cat,new
0,1/1/2016 21:11,1/1/2016 21:17,Business,Fort Pierce,Fort Pierce,5.1,Meal/Entertain,Long Trip,medium
1,1/2/2016 1:25,1/2/2016 1:37,Business,Fort Pierce,Fort Pierce,5.0,NaN,Short Trip,medium
2,1/2/2016 20:25,1/2/2016 20:38,Business,Fort Pierce,Fort Pierce,4.8,Errand/Supplies,Short Trip,Short Trip
3,1/5/2016 17:31,1/5/2016 17:45,Business,Fort Pierce,Fort Pierce,4.7,Meeting,Short Trip,Short Trip
4,1/6/2016 14:42,1/6/2016 15:49,Business,Fort Pierce,West Palm Beach,63.7,Customer Visit,Long Trip,medium
5,1/6/2016 17:15,1/6/2016 17:19,Business,West Palm Beach,West Palm Beach,4.3,Meal/Entertain,Short Trip,Short Trip
6,1/6/2016 17:30,1/6/2016 17:35,Business,West Palm Beach,Palm Beach,7.1,Meeting,Long Trip,medium
7,1/7/2016 13:27,1/7/2016 13:33,Business,Cary,Cary,0.8,Meeting,Short Trip,Short Trip
8,1/10/2016 8:05,1/10/2016 8:25,Business,Cary,Morrisville,8.3,Meeting,Long Trip,medium
9,1/10/2016 12:17,1/10/2016 12:44,Business,Jamaica,New York,16.5,Customer Visit,Long Trip,medium
10,1/10/2016 15:08,1/10/2016 15:51,Business,New York,Queens,10.8,Meeting,Long Trip,medium
11,1/10/2016 18:18,1/10/2016 18:53,Business,Elmhurst,New York,7.5,Meeting,Long Trip,medium
12,1/10/2016 19:12,1/10/2016 19:32,Business,Midtown,East Harlem,6.2,Meeting,Long Trip,medium
13,1/11/2016 8:55,1/11/2016 9:21,Business,East Harlem,NoMad,6.4,Temporary Site,Long Trip,medium
14,1/11/2016 11:56,1/11/2016 12:03,Business,Flatiron District,Midtown,1.6,Errand/Supplies,Short Trip,Short Trip
15,1/11/2016 13:32,1/11/2016 13:46,Business,Midtown,Midtown East,1.7,Meal/Entertain,Short Trip,Short Trip
16,1/11/2016 14:30,1/11/2016 14:43,Business,Midtown East,Midtown,1.9,Meal/Entertain,Short Trip,Short Trip
17,1/12/2016 12:33,1/12/2016 12:49,Business,Midtown,Hudson Square,1.9,Meal/Entertain,Short Trip,Short Trip
18,1/12/2016 12:53,1/12/2016 13:09,Business,Hudson Square,Lower Manhattan,4.0,Meal/Entertain,Short Trip,Short Trip
19,1/12/2016 14:42,1/12/2016 14:56,Business,Lower Manhattan,Hudson Square,1.8,Errand/Supplies,Short Trip,Short Trip
20,1/12/2016 15:13,1/12/2016 15:28,Business,Hudson Square,Hell's Kitchen,2.4,Customer Visit,Short Trip,Short Trip
21,1/12/2016 15:42,1/12/2016 15:54,Business,Hell's Kitchen,Midtown,2.0,Errand/Supplies,Short Trip,Short Trip
22,1/12/2016 16:02,1/12/2016 17:00,Business,New York,Queens County,15.1,Meeting,Long Trip,medium
23,1/13/2016 13:54,1/13/2016 14:07,Business,Downtown,Gulfton,11.2,Meeting,Long Trip,medium
24,1/13/2016 15:00,1/13/2016 15:28,Business,Gulfton,Downtown,11.8,Meeting,Long Trip,medium
25,1/14/2016 16:29,1/14/2016 17:05,Business,Houston,Houston,21.9,Customer Visit,Long Trip,medium
26,1/14/2016 21:39,1/14/2016 21:45,Business,Eagan Park,Jamestown Court,3.9,Errand/Supplies,Short Trip,Short Trip
27,1/15/2016 0:41,1/15/2016 1:01,Business,Morrisville,Cary,8.0,Errand/Supplies,Long Trip,medium
28,1/15/2016 11:43,1/15/2016 12:03,Business,Cary,Durham,10.4,Meal/Entertain,Long Trip,medium
29,1/15/2016 13:26,1/15/2016 13:44,Business,Durham,Cary,10.4,Meal/Entertain,Long Trip,medium
...,...,...,...,...,...,...,...,...,...
1126,12/28/2016 11:42,12/28/2016 12:12,Business,Unknown Location,Kar?chi,10.4,Errand/Supplies,Long Trip,medium
1127,12/28/2016 13:53,12/28/2016 14:01,Business,Kar?chi,Kar?chi,2.0,Errand/Supplies,Short Trip,Short Trip
1128,12/28/2016 15:04,12/28/2016 15:39,Business,Kar?chi,Unknown Location,8.5,Meal/Entertain,Long Trip,medium
1129,12/28/2016 17:02,12/28/2016 17:16,Business,Unknown Location,Kar?chi,4.4,Errand/Supplies,Short Trip,Short Trip
1130,12/28/2016 18:33,12/28/2016 18:56,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies,Short Trip,Short Trip
1131,12/28/2016 22:44,12/28/2016 23:18,Business,Kar?chi,Kar?chi,5.1,Errand/Supplies,Long Trip,medium
1132,12/29/2016 0:49,12/29/2016 1:06,Business,Kar?chi,Kar?chi,3.8,Errand/Supplies,Short Trip,Short Trip
1133,12/29/2016 9:44,12/29/2016 10:07,Business,Kar?chi,Unknown Location,11.6,Meal/Entertain,Long Trip,medium
1134,12/29/2016 11:28,12/29/2016 12:00,Business,Unknown Location,Kar?chi,11.9,Meal/Entertain,Long Trip,medium
1135,12/29/2016 12:25,12/29/2016 12:33,Business,Kar?chi,Kar?chi,1.4,Errand/Supplies,Short Trip,Short Trip
1136,12/29/2016 13:17,12/29/2016 13:24,Business,Kar?chi,Kar?chi,1.1,Errand/Supplies,Short Trip,Short Trip
1137,12/29/2016 13:56,12/29/2016 14:11,Business,Kar?chi,Kar?chi,4.1,Airport/Travel,Short Trip,Short Trip
1138,12/29/2016 14:42,12/29/2016 14:58,Business,Kar?chi,Kar?chi,6.1,Between Offices,Long Trip,medium
1139,12/29/2016 15:05,12/29/2016 15:16,Business,Kar?chi,Kar?chi,1.3,Errand/Supplies,Short Trip,Short Trip
1140,12/29/2016 18:59,12/29/2016 19:14,Business,Kar?chi,Unknown Location,3.0,Meal/Entertain,Short Trip,Short Trip
1141,12/29/2016 19:50,12/29/2016 20:10,Business,Unknown Location,Kar?chi,4.1,Customer Visit,Short Trip,Short Trip
1142,12/29/2016 20:15,12/29/2016 20:45,Business,Kar?chi,Kar?chi,7.2,Meeting,Long Trip,medium
1143,12/29/2016 20:53,12/29/2016 21:42,Business,Kar?chi,Unknown Location,6.4,NaN,Long Trip,medium
1144,12/29/2016 23:14,12/29/2016 23:47,Business,Unknown Location,Kar?chi,12.9,Meeting,Long Trip,medium
1145,12/30/2016 10:15,12/30/2016 10:33,Business,Kar?chi,Kar?chi,2.8,Errand/Supplies,Short Trip,Short Trip
1146,12/30/2016 11:31,12/30/2016 11:56,Business,Kar?chi,Kar?chi,2.9,Errand/Supplies,Short Trip,Short Trip
1147,12/30/2016 15:41,12/30/2016 16:03,Business,Kar?chi,Kar?chi,4.6,Errand/Supplies,Short Trip,Short Trip
1148,12/30/2016 16:45,12/30/2016 17:08,Business,Kar?chi,Kar?chi,4.6,Meeting,Short Trip,Short Trip
1149,12/30/2016 23:06,12/30/2016 23:10,Business,Kar?chi,Kar?chi,0.8,Customer Visit,Short Trip,Short Trip
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting,Short Trip,Short Trip
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short Trip,Short Trip
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,medium
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,Long Trip,medium
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,medium
1155,Totals,NaN,NaN,NaN,NaN,12204.7,NaN,Long Trip,medium

### Groupby Summarize

In [72]:
grouping - S A C
SPLIT
APPLY 
COMBINE

SyntaxError: invalid syntax (<ipython-input-72-8f1907d8f462>, line 1)

In [73]:
# for each start loc find the mean distance travelled
df.groupby("START*")["MILES*"].agg("mean") #aggregation

START*
Agnew                           2.775000
Almond                         15.200000
Apex                            5.341176
Arabi                          17.000000
Arlington                       4.900000
Arlington Park at Amberly       1.300000
Asheville                     143.850000
Austin                        136.000000
Banner Elk                     12.375000
Bellevue                       12.900000
Berkeley                       14.375000
Boone                         102.000000
Briar Meadow                    9.600000
Bryson City                    20.820000
Burtrose                        4.800000
CBD                             3.850000
Capitol One                     9.450000
Cary                            8.911940
Central                         1.950000
Chalmette                       1.100000
Chapel Hill                    20.150000
Chessington                     3.350000
College Avenue                  2.600000
Colombo                         5.100000
Columbia Heights                1.500000
Congress Ave District           0.800000
Connecticut Avenue              1.300000
Convention Center District      2.000000
Cory                            3.900000
Couples Glen                   16.950000
                                 ...
Southside                       1.825000
St Thomas                       1.800000
Stonewater                      3.000000
Storyville                      1.550000
Sugar Land                     35.100000
Summerwinds                     8.700000
Sunnyside                       0.700000
Sunnyvale                      17.600000
Tanglewood                      6.225000
Tenderloin                      1.200000
The Drag                        3.728571
Topton                         35.250000
Townes at Everett Crossing      3.300000
Tribeca                         0.900000
University District             5.000000
Unknown Location               13.354730
Wake Co.                        1.800000
Wake Forest                    31.900000
Washington                      6.600000
Washington Avenue               6.200000
Waverly Place                   5.825000
Wayne Ridge                     8.000000
West Berkeley                   3.620000
West End                        2.000000
West Palm Beach                 5.700000
West University                 2.200000
Weston                          4.000000
Westpark Place                  2.182353
Whitebridge                     4.020588
Winston Salem                 133.600000
Name: MILES*, Length: 177, dtype: float64

In [74]:
df.groupby("START*")["MILES*"].mean() #second method since mean is a common operation

START*
Agnew                           2.775000
Almond                         15.200000
Apex                            5.341176
Arabi                          17.000000
Arlington                       4.900000
Arlington Park at Amberly       1.300000
Asheville                     143.850000
Austin                        136.000000
Banner Elk                     12.375000
Bellevue                       12.900000
Berkeley                       14.375000
Boone                         102.000000
Briar Meadow                    9.600000
Bryson City                    20.820000
Burtrose                        4.800000
CBD                             3.850000
Capitol One                     9.450000
Cary                            8.911940
Central                         1.950000
Chalmette                       1.100000
Chapel Hill                    20.150000
Chessington                     3.350000
College Avenue                  2.600000
Colombo                         5.100000
Columbia Heights                1.500000
Congress Ave District           0.800000
Connecticut Avenue              1.300000
Convention Center District      2.000000
Cory                            3.900000
Couples Glen                   16.950000
                                 ...
Southside                       1.825000
St Thomas                       1.800000
Stonewater                      3.000000
Storyville                      1.550000
Sugar Land                     35.100000
Summerwinds                     8.700000
Sunnyside                       0.700000
Sunnyvale                      17.600000
Tanglewood                      6.225000
Tenderloin                      1.200000
The Drag                        3.728571
Topton                         35.250000
Townes at Everett Crossing      3.300000
Tribeca                         0.900000
University District             5.000000
Unknown Location               13.354730
Wake Co.                        1.800000
Wake Forest                    31.900000
Washington                      6.600000
Washington Avenue               6.200000
Waverly Place                   5.825000
Wayne Ridge                     8.000000
West Berkeley                   3.620000
West End                        2.000000
West Palm Beach                 5.700000
West University                 2.200000
Weston                          4.000000
Westpark Place                  2.182353
Whitebridge                     4.020588
Winston Salem                 133.600000
Name: MILES*, Length: 177, dtype: float64

In [75]:
df.groupby("START*").agg("mean") #IF YOU HAVE JUST A SINGLE COLUMN WITH INTEGERS IT AUTOMATICALLY SHOWS THE RESULT OF INTEGER COLUMN

                                MILES*
START*
Agnew                         2.775000
Almond                       15.200000
Apex                          5.341176
Arabi                        17.000000
Arlington                     4.900000
Arlington Park at Amberly     1.300000
Asheville                   143.850000
Austin                      136.000000
Banner Elk                   12.375000
Bellevue                     12.900000
Berkeley                     14.375000
Boone                       102.000000
Briar Meadow                  9.600000
Bryson City                  20.820000
Burtrose                      4.800000
CBD                           3.850000
Capitol One                   9.450000
Cary                          8.911940
Central                       1.950000
Chalmette                     1.100000
Chapel Hill                  20.150000
Chessington                   3.350000
College Avenue                2.600000
Colombo                       5.100000
Columbia Heights              1.500000
Congress Ave District         0.800000
Connecticut Avenue            1.300000
Convention Center District    2.000000
Cory                          3.900000
Couples Glen                 16.950000
...                                ...
Southside                     1.825000
St Thomas                     1.800000
Stonewater                    3.000000
Storyville                    1.550000
Sugar Land                   35.100000
Summerwinds                   8.700000
Sunnyside                     0.700000
Sunnyvale                    17.600000
Tanglewood                    6.225000
Tenderloin                    1.200000
The Drag                      3.728571
Topton                       35.250000
Townes at Everett Crossing    3.300000
Tribeca                       0.900000
University District           5.000000
Unknown Location             13.354730
Wake Co.                      1.800000
Wake Forest                  31.900000
Washington                    6.600000
Washington Avenue             6.200000
Waverly Place                 5.825000
Wayne Ridge                   8.000000
West Berkeley                 3.620000
West End                      2.000000
West Palm Beach               5.700000
West University               2.200000
Weston                        4.000000
Westpark Place                2.182353
Whitebridge                   4.020588
Winston Salem               133.600000

[177 rows x 1 columns]

In [76]:
df.groupby(["START*","STOP*",]).agg(["mean","sum"]).head(20)

                                                         MILES*
                                                           mean    sum
START*                    STOP*
Agnew                     Agnew                        2.200000    2.2
                          Cory                         4.300000    4.3
                          Renaissance                  2.300000    4.6
Almond                    Bryson City                 15.200000   15.2
Apex                      Apex                         2.150000    4.3
                          Cary                         5.792308   75.3
                          Eagle Rock                   2.200000    2.2
                          Holly Springs                9.000000    9.0
Arabi                     Metairie                    17.000000   17.0
Arlington                 Washington                   4.900000    4.9
Arlington Park at Amberly Lexington Park at Amberly    1.300000    1.3
Asheville                 Mebane                     195.900000  195.9
                          Topton                      91.800000   91.8
Austin                    Katy                       136.000000  136.0
Banner Elk                Banner Elk                   6.680000   33.4
                          Boone                       15.100000   15.1
                          Elk Park                    22.400000   22.4
                          Newland                     28.100000   28.1
Bellevue                  Seattle                     12.900000   12.9
Berkeley                  El Cerrito                   2.300000    2.3

In [77]:
# for each start loc find the mean & the total dist travelled
palak=df.groupby("START*").agg(["mean","sum"]).head()
palak.columns

MultiIndex(levels=[['MILES*'], ['mean', 'sum']],
           labels=[[0, 0], [0, 1]])

### In class assignment

Find most recent & the earliest travelled date and mean distance traveled for each start city

In [78]:
df=df.iloc[:-1,:]
df.tail()
df["START_DATE*"]=pd.to_datetime(df["START_DATE*"])
df.dtypes

,START_DATE*,END_DATE*,CATEGORY*,START*,STOP*,MILES*,PURPOSE*,miles_cat,new
1150,12/31/2016 1:07,12/31/2016 1:14,Business,Kar?chi,Kar?chi,0.7,Meeting,Short Trip,Short Trip
1151,12/31/2016 13:24,12/31/2016 13:42,Business,Kar?chi,Unknown Location,3.9,Temporary Site,Short Trip,Short Trip
1152,12/31/2016 15:03,12/31/2016 15:38,Business,Unknown Location,Unknown Location,16.2,Meeting,Long Trip,medium
1153,12/31/2016 21:32,12/31/2016 21:50,Business,Katunayake,Gampaha,6.4,Temporary Site,Long Trip,medium
1154,12/31/2016 22:08,12/31/2016 23:51,Business,Gampaha,Ilukwatta,48.2,Temporary Site,Long Trip,medium

C:\Users\OM\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

START_DATE*    datetime64[ns]
END_DATE*              object
CATEGORY*              object
START*                 object
STOP*                  object
MILES*                float64
PURPOSE*               object
miles_cat              object
new                    object
dtype: object

In [79]:
res = df.groupby("START*").agg({"MILES*":["mean"],"START_DATE*":["min","max"]})
res.reset_index(inplace=True)
#res
res.columns=["START_CITY","AVG_DIST","EARLIEST_TR","RECENT_TRIP"]
res.to_csv("palak.csv")

## Loops and Function

In [80]:
# Basic for loop
res = []
temp = [1,2,3,4]
for i in temp:
    res.append(i*i)
res

[1, 4, 9, 16]

In [81]:
# List comprehension way

[x*x for x in temp]

[1, 4, 9, 16]

In [82]:

store_sales = pd.read_csv("store_sales.csv")

In [83]:
store_sales

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13
5,S_6,California,14,21,18,20,21,5,18,24,7,12,11,5
6,S_7,Arizona,11,22,5,14,16,24,8,15,18,14,17,20
7,S_8,California,15,8,5,15,12,21,17,19,13,6,24,15
8,S_9,Texas,15,7,6,20,5,18,19,15,19,17,22,5
9,S_10,California,14,23,20,11,12,13,19,6,5,22,17,16
10,S_11,Arizona,15,24,8,15,24,21,6,21,20,13,14,15
11,S_12,California,6,18,21,8,5,8,11,9,21,17,18,22
12,S_13,Arizona,7,12,18,15,19,9,17,24,23,23,14,7
13,S_14,Texas,21,7,22,11,10,6,7,23,15,7,9,12
14,S_15,Arizona,12,6,14,21,6,13,23,17,13,21,9,18
15,S_16,California,18,9,8,9,21,7,19,18,21,7,7,23
16,S_17,California,13,8,7,22,21,24,18,5,24,18,12,17
17,S_18,Arizona,19,21,22,12,15,22,8,17,15,10,24,10
18,S_19,California,7,6,17,8,21,11,20,9,11,22,21,8
19,S_20,California,11,21,20,6,5,24,14,23,19,10,21,22
20,S_21,California,19,14,16,6,20,5,7,17,11,17,11,6
21,S_22,Texas,12,8,6,13,12,10,11,11,15,23,9,16
22,S_23,Texas,5,19,11,18,18,18,14,24,12,8,15,20
23,S_24,California,5,17,19,19,19,14,18,23,23,5,16,5
24,S_25,Arizona,14,7,20,10,13,19,6,8,20,24,9,15
25,S_26,California,24,11,16,11,13,14,10,15,7,15,5,8
26,S_27,California,24,19,13,24,8,12,6,21,10,10,12,20
27,S_28,California,10,15,24,21,9,22,10,19,13,18,24,6
28,S_29,California,15,8,10,16,12,10,21,21,7,13,8,5
29,S_30,Texas,23,21,5,17,15,6,18,17,19,15,6,18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,S_71,Arizona,17,21,17,19,10,7,16,11,10,20,5,10
71,S_72,Texas,21,5,16,11,12,5,7,14,15,19,19,7
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6
73,S_74,California,20,17,14,5,22,9,18,24,11,10,20,19
74,S_75,Texas,22,10,19,13,23,15,20,13,6,9,21,7
75,S_76,Arizona,15,18,24,14,21,9,17,10,14,5,23,13
76,S_77,California,9,18,10,15,14,14,16,5,24,11,18,17
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5
78,S_79,Texas,16,12,24,13,6,17,17,20,16,8,18,20
79,S_80,Texas,17,9,24,12,11,12,13,23,14,23,19,23
80,S_81,California,22,9,20,12,6,20,8,16,15,14,24,10
81,S_82,Texas,6,19,8,14,13,16,9,7,10,16,23,10
82,S_83,California,16,5,6,12,20,21,17,6,12,9,22,15
83,S_84,California,13,12,12,5,7,16,12,21,20,19,22,13
84,S_85,Texas,11,7,22,16,16,14,9,23,19,5,6,11
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22
87,S_88,Texas,6,12,17,19,8,7,19,17,19,14,13,17
88,S_89,California,14,14,14,9,15,6,10,16,9,10,7,19
89,S_90,California,8,23,21,14,15,6,5,14,23,8,5,21
90,S_91,Texas,14,5,5,9,18,6,11,13,17,9,10,15
91,S_92,California,14,16,17,13,13,10,17,23,7,23,10,22
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13
93,S_94,California,19,18,14,21,5,7,8,21,11,21,15,7
94,S_95,California,10,22,13,20,5,5,9,15,23,23,24,7
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9

In [84]:
# find out avg sales for each month
# find out avg sales for each store

In [85]:
store_sales["Jan"].mean()
store_sales.apply("mean")
store_sales.apply("mean",axis=1) #mean for all column using APPLY FUNCTION  axis=1 is row , axis=0 is columnwise by default it is column
store_sales.select_dtypes(include=['int64','float64']).apply("mean") #for new versions of pandas, sometiomes it shows the column is string and shows an error

14.46

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

0     14.833333
1     14.500000
2     15.083333
3     11.250000
4     13.250000
5     14.666667
6     15.333333
7     14.166667
8     14.000000
9     14.833333
10    16.333333
11    13.666667
12    15.666667
13    12.500000
14    14.416667
15    13.916667
16    15.750000
17    16.250000
18    13.416667
19    16.333333
20    12.416667
21    12.166667
22    15.166667
23    15.250000
24    13.750000
25    12.416667
26    14.916667
27    15.916667
28    12.166667
29    15.000000
        ...
70    13.583333
71    12.583333
72    17.750000
73    15.750000
74    14.833333
75    15.250000
76    14.250000
77    17.583333
78    15.583333
79    16.666667
80    14.666667
81    12.583333
82    13.416667
83    14.333333
84    13.250000
85    17.833333
86    16.916667
87    14.000000
88    11.916667
89    13.583333
90    11.000000
91    15.416667
92    17.000000
93    13.916667
94    14.666667
95    15.416667
96    12.833333
97    14.000000
98    14.416667
99    15.000000
Length: 100, dtype: float64

Jan     14.46
Feb     15.09
Mar     14.56
Apr     14.57
May     13.56
Jun     13.80
July    14.38
Aug     15.81
Sep     14.91
Oct     14.10
Nov     15.31
Dec     13.57
dtype: float64

In [86]:
#to add new column
import numpy as np
def bonus_func(sales_col):
    elig_values=np.where(sales_col>10,"eligible","not eligible")
    return elig_values
store_sales["Jan_bonus"]=bonus_func(store_sales["Jan"])
store_sales

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,Jan_bonus
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6,not eligible
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19,eligible
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8,eligible
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11,not eligible
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13,eligible
5,S_6,California,14,21,18,20,21,5,18,24,7,12,11,5,eligible
6,S_7,Arizona,11,22,5,14,16,24,8,15,18,14,17,20,eligible
7,S_8,California,15,8,5,15,12,21,17,19,13,6,24,15,eligible
8,S_9,Texas,15,7,6,20,5,18,19,15,19,17,22,5,eligible
9,S_10,California,14,23,20,11,12,13,19,6,5,22,17,16,eligible
10,S_11,Arizona,15,24,8,15,24,21,6,21,20,13,14,15,eligible
11,S_12,California,6,18,21,8,5,8,11,9,21,17,18,22,not eligible
12,S_13,Arizona,7,12,18,15,19,9,17,24,23,23,14,7,not eligible
13,S_14,Texas,21,7,22,11,10,6,7,23,15,7,9,12,eligible
14,S_15,Arizona,12,6,14,21,6,13,23,17,13,21,9,18,eligible
15,S_16,California,18,9,8,9,21,7,19,18,21,7,7,23,eligible
16,S_17,California,13,8,7,22,21,24,18,5,24,18,12,17,eligible
17,S_18,Arizona,19,21,22,12,15,22,8,17,15,10,24,10,eligible
18,S_19,California,7,6,17,8,21,11,20,9,11,22,21,8,not eligible
19,S_20,California,11,21,20,6,5,24,14,23,19,10,21,22,eligible
20,S_21,California,19,14,16,6,20,5,7,17,11,17,11,6,eligible
21,S_22,Texas,12,8,6,13,12,10,11,11,15,23,9,16,eligible
22,S_23,Texas,5,19,11,18,18,18,14,24,12,8,15,20,not eligible
23,S_24,California,5,17,19,19,19,14,18,23,23,5,16,5,not eligible
24,S_25,Arizona,14,7,20,10,13,19,6,8,20,24,9,15,eligible
25,S_26,California,24,11,16,11,13,14,10,15,7,15,5,8,eligible
26,S_27,California,24,19,13,24,8,12,6,21,10,10,12,20,eligible
27,S_28,California,10,15,24,21,9,22,10,19,13,18,24,6,not eligible
28,S_29,California,15,8,10,16,12,10,21,21,7,13,8,5,eligible
29,S_30,Texas,23,21,5,17,15,6,18,17,19,15,6,18,eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,S_71,Arizona,17,21,17,19,10,7,16,11,10,20,5,10,eligible
71,S_72,Texas,21,5,16,11,12,5,7,14,15,19,19,7,eligible
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6,eligible
73,S_74,California,20,17,14,5,22,9,18,24,11,10,20,19,eligible
74,S_75,Texas,22,10,19,13,23,15,20,13,6,9,21,7,eligible
75,S_76,Arizona,15,18,24,14,21,9,17,10,14,5,23,13,eligible
76,S_77,California,9,18,10,15,14,14,16,5,24,11,18,17,not eligible
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5,eligible
78,S_79,Texas,16,12,24,13,6,17,17,20,16,8,18,20,eligible
79,S_80,Texas,17,9,24,12,11,12,13,23,14,23,19,23,eligible
80,S_81,California,22,9,20,12,6,20,8,16,15,14,24,10,eligible
81,S_82,Texas,6,19,8,14,13,16,9,7,10,16,23,10,not eligible
82,S_83,California,16,5,6,12,20,21,17,6,12,9,22,15,eligible
83,S_84,California,13,12,12,5,7,16,12,21,20,19,22,13,eligible
84,S_85,Texas,11,7,22,16,16,14,9,23,19,5,6,11,eligible
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13,eligible
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22,eligible
87,S_88,Texas,6,12,17,19,8,7,19,17,19,14,13,17,not eligible
88,S_89,California,14,14,14,9,15,6,10,16,9,10,7,19,eligible
89,S_90,California,8,23,21,14,15,6,5,14,23,8,5,21,not eligible
90,S_91,Texas,14,5,5,9,18,6,11,13,17,9,10,15,eligible
91,S_92,California,14,16,17,13,13,10,17,23,7,23,10,22,eligible
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13,eligible
93,S_94,California,19,18,14,21,5,7,8,21,11,21,15,7,eligible
94,S_95,California,10,22,13,20,5,5,9,15,23,23,24,7,not eligible
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22,not eligible
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9,eligible
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22,eligible
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10,eligible
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9,not eligible

In [87]:
import numpy as np
def bonus_func(sales_col):
    elig_values=np.where(sales_col>10,"eligible","not eligible")
    return elig_values
store_sales["Jan_bonus"]=bonus_func(store_sales["Jan"])
store_sales

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,Jan_bonus
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6,not eligible
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19,eligible
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8,eligible
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11,not eligible
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13,eligible
5,S_6,California,14,21,18,20,21,5,18,24,7,12,11,5,eligible
6,S_7,Arizona,11,22,5,14,16,24,8,15,18,14,17,20,eligible
7,S_8,California,15,8,5,15,12,21,17,19,13,6,24,15,eligible
8,S_9,Texas,15,7,6,20,5,18,19,15,19,17,22,5,eligible
9,S_10,California,14,23,20,11,12,13,19,6,5,22,17,16,eligible
10,S_11,Arizona,15,24,8,15,24,21,6,21,20,13,14,15,eligible
11,S_12,California,6,18,21,8,5,8,11,9,21,17,18,22,not eligible
12,S_13,Arizona,7,12,18,15,19,9,17,24,23,23,14,7,not eligible
13,S_14,Texas,21,7,22,11,10,6,7,23,15,7,9,12,eligible
14,S_15,Arizona,12,6,14,21,6,13,23,17,13,21,9,18,eligible
15,S_16,California,18,9,8,9,21,7,19,18,21,7,7,23,eligible
16,S_17,California,13,8,7,22,21,24,18,5,24,18,12,17,eligible
17,S_18,Arizona,19,21,22,12,15,22,8,17,15,10,24,10,eligible
18,S_19,California,7,6,17,8,21,11,20,9,11,22,21,8,not eligible
19,S_20,California,11,21,20,6,5,24,14,23,19,10,21,22,eligible
20,S_21,California,19,14,16,6,20,5,7,17,11,17,11,6,eligible
21,S_22,Texas,12,8,6,13,12,10,11,11,15,23,9,16,eligible
22,S_23,Texas,5,19,11,18,18,18,14,24,12,8,15,20,not eligible
23,S_24,California,5,17,19,19,19,14,18,23,23,5,16,5,not eligible
24,S_25,Arizona,14,7,20,10,13,19,6,8,20,24,9,15,eligible
25,S_26,California,24,11,16,11,13,14,10,15,7,15,5,8,eligible
26,S_27,California,24,19,13,24,8,12,6,21,10,10,12,20,eligible
27,S_28,California,10,15,24,21,9,22,10,19,13,18,24,6,not eligible
28,S_29,California,15,8,10,16,12,10,21,21,7,13,8,5,eligible
29,S_30,Texas,23,21,5,17,15,6,18,17,19,15,6,18,eligible
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,S_71,Arizona,17,21,17,19,10,7,16,11,10,20,5,10,eligible
71,S_72,Texas,21,5,16,11,12,5,7,14,15,19,19,7,eligible
72,S_73,California,20,24,24,18,7,22,12,21,20,18,21,6,eligible
73,S_74,California,20,17,14,5,22,9,18,24,11,10,20,19,eligible
74,S_75,Texas,22,10,19,13,23,15,20,13,6,9,21,7,eligible
75,S_76,Arizona,15,18,24,14,21,9,17,10,14,5,23,13,eligible
76,S_77,California,9,18,10,15,14,14,16,5,24,11,18,17,not eligible
77,S_78,Arizona,19,23,19,24,13,12,24,17,22,16,17,5,eligible
78,S_79,Texas,16,12,24,13,6,17,17,20,16,8,18,20,eligible
79,S_80,Texas,17,9,24,12,11,12,13,23,14,23,19,23,eligible
80,S_81,California,22,9,20,12,6,20,8,16,15,14,24,10,eligible
81,S_82,Texas,6,19,8,14,13,16,9,7,10,16,23,10,not eligible
82,S_83,California,16,5,6,12,20,21,17,6,12,9,22,15,eligible
83,S_84,California,13,12,12,5,7,16,12,21,20,19,22,13,eligible
84,S_85,Texas,11,7,22,16,16,14,9,23,19,5,6,11,eligible
85,S_86,California,15,23,24,18,21,17,23,13,12,11,24,13,eligible
86,S_87,Texas,19,20,10,13,12,5,20,23,21,14,24,22,eligible
87,S_88,Texas,6,12,17,19,8,7,19,17,19,14,13,17,not eligible
88,S_89,California,14,14,14,9,15,6,10,16,9,10,7,19,eligible
89,S_90,California,8,23,21,14,15,6,5,14,23,8,5,21,not eligible
90,S_91,Texas,14,5,5,9,18,6,11,13,17,9,10,15,eligible
91,S_92,California,14,16,17,13,13,10,17,23,7,23,10,22,eligible
92,S_93,California,20,13,15,12,15,19,21,22,10,21,23,13,eligible
93,S_94,California,19,18,14,21,5,7,8,21,11,21,15,7,eligible
94,S_95,California,10,22,13,20,5,5,9,15,23,23,24,7,not eligible
95,S_96,Texas,7,10,20,20,10,15,15,21,15,7,23,22,not eligible
96,S_97,California,13,6,7,15,22,10,21,23,10,6,12,9,eligible
97,S_98,Texas,16,9,6,14,20,13,11,10,8,22,17,22,eligible
98,S_99,Arizona,18,16,9,5,12,22,11,13,21,17,19,10,eligible
99,S_100,California,5,23,17,24,15,21,19,10,12,20,5,9,not eligible

In [88]:
import numpy as np
def bonus_func(sales_col):
    elig_values=np.where(sales_col>10,"eligible","not eligible")
    return elig_values
#store_sales["Jan_bonus"]=bonus_func(store_sales["Jan"])
newdf = store_sales.select_dtypes(include=['int64','float64']).apply(bonus_func)
newdf
palak=pd.concat([store_sales,newdf],axis=1)
palak.shape
palak.tail()

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
0,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,not eligible
1,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,eligible,eligible
2,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,not eligible
3,not eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,not eligible,eligible
4,eligible,not eligible,eligible,not eligible,not eligible,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible
5,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,not eligible
6,eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible
7,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
8,eligible,not eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible
9,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible
10,eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible
11,not eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,eligible
12,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,not eligible
13,eligible,not eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible
14,eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible
15,eligible,not eligible,not eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,not eligible,eligible
16,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible
17,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,not eligible
18,not eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,not eligible
19,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
20,eligible,eligible,eligible,not eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
21,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible
22,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
23,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible
24,eligible,not eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible
25,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,not eligible,not eligible
26,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,not eligible,not eligible,eligible,eligible
27,not eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
28,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,not eligible,not eligible
29,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible
...,...,...,...,...,...,...,...,...,...,...,...,...
70,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible,not eligible,not eligible
71,eligible,not eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
72,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible
73,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,eligible,eligible
74,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,not eligible
75,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,not eligible,eligible,eligible
76,not eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible
77,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible
78,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
79,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible
80,eligible,not eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
81,not eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,eligible,not eligible
82,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,not eligible,eligible,eligible
83,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible
84,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible
85,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible
86,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible
87,not eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible
88,eligible,eligible,eligible,not eligible,eligible,not eligible,not eligible,eligible,not eligible,not eligible,not eligible,eligible
89,not eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible
90,eligible,not eligible,not eligible,not eligible,eligible,not eligible,eligible,eligible,eligible,not eligible,not eligible,eligible
91,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,eligible,not eligible,eligible
92,eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,eligible
93,eligible,eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
94,not eligible,eligible,eligible,eligible,not eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible
95,not eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
96,eligible,not eligible,not eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible,not eligible
97,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible
98,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible
99,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible

(100, 27)

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,...,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
95,S_96,Texas,7,10,20,20,10,15,15,21,...,eligible,eligible,not eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible
96,S_97,California,13,6,7,15,22,10,21,23,...,not eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible,eligible,not eligible
97,S_98,Texas,16,9,6,14,20,13,11,10,...,not eligible,eligible,eligible,eligible,eligible,not eligible,not eligible,eligible,eligible,eligible
98,S_99,Arizona,18,16,9,5,12,22,11,13,...,not eligible,not eligible,eligible,eligible,eligible,eligible,eligible,eligible,eligible,not eligible
99,S_100,California,5,23,17,24,15,21,19,10,...,eligible,eligible,eligible,eligible,eligible,not eligible,eligible,eligible,not eligible,not eligible

In [89]:
bonus_func([12,23,56])

TypeError: '>' not supported between instances of 'list' and 'int'

In [90]:
store_sales.iloc[:,2:].apply(bonus_func).head()

TypeError: ("'>' not supported between instances of 'str' and 'int'", 'occurred at index Jan_bonus')

In [ ]:


store_sales.iloc[:,2:].apply(lambda sales_numbers: ["Eligible" if x > 15 else "Not Eligible" for x in sales_numbers]).head()

In [91]:
store_sales.columns

Index(['store_id', 'city', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'July',
       'Aug', 'Sep', 'Oct', 'Nov', 'Dec', 'Jan_bonus'],
      dtype='object')

In [92]:
store_sales.groupby("city").agg("mean")

,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec
city,,,,,,,,,,,,
Arizona,15.500000,15.272727,14.545455,14.954545,14.090909,15.090909,14.636364,15.500000,15.318182,14.954545,16.409091,13.318182
California,14.744186,15.534884,14.627907,13.976744,13.255814,13.697674,14.813953,16.232558,14.883721,14.279070,15.279070,13.604651
Texas,13.457143,14.428571,14.485714,15.057143,13.600000,13.114286,13.685714,15.485714,14.685714,13.342857,14.657143,13.685714

### Assignments

1) Find mean quarterly sales by store

2) Find the month with highest sales for each store

## Other/Miscellaneous topics

### Missing value treatment

In [93]:
df.isnull().sum()

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
miles_cat        0
new              0
dtype: int64

In [94]:
## Count missing values
df.isnull().sum()

START_DATE*      0
END_DATE*        0
CATEGORY*        0
START*           0
STOP*            0
MILES*           0
PURPOSE*       502
miles_cat        0
new              0
dtype: int64

In [95]:
# Fill NA with most common values
df["PURPOSE*"].value_counts()

Meeting            187
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: PURPOSE*, dtype: int64

In [96]:
df = df.fillna({"PURPOSE*":"Meeting"})

In [97]:
df["PURPOSE*"].value_counts()

Meeting            689
Meal/Entertain     160
Errand/Supplies    128
Customer Visit     101
Temporary Site      50
Between Offices     18
Moving               4
Airport/Travel       3
Charity ($)          1
Commute              1
Name: PURPOSE*, dtype: int64

### Matrix operations use case

### Example 1 - compute month on month growth in sales

In [98]:
store_sales.head()

,store_id,city,Jan,Feb,Mar,Apr,May,Jun,July,Aug,Sep,Oct,Nov,Dec,Jan_bonus
0,S_1,Texas,8,20,13,21,17,20,24,17,16,9,7,6,not eligible
1,S_2,California,12,19,15,15,11,19,7,15,10,11,21,19,eligible
2,S_3,California,16,16,14,19,23,6,13,13,15,14,24,8,eligible
3,S_4,Texas,8,18,13,10,14,14,6,8,8,18,7,11,not eligible
4,S_5,Texas,19,5,24,9,5,24,10,5,24,15,6,13,eligible

In [99]:
sales_mat = np.array(store_sales.iloc[:,2:])

In [100]:
sales_mat

array([[8, 20, 13, ..., 7, 6, 'not eligible'],
       [12, 19, 15, ..., 21, 19, 'eligible'],
       [16, 16, 14, ..., 24, 8, 'eligible'],
       ...,
       [16, 9, 6, ..., 17, 22, 'eligible'],
       [18, 16, 9, ..., 19, 10, 'eligible'],
       [5, 23, 17, ..., 5, 9, 'not eligible']], dtype=object)

In [101]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag

array([[20, 13, 21, ..., 7, 6, 'not eligible'],
       [19, 15, 15, ..., 21, 19, 'eligible'],
       [16, 14, 19, ..., 24, 8, 'eligible'],
       ...,
       [9, 6, 14, ..., 17, 22, 'eligible'],
       [16, 9, 5, ..., 19, 10, 'eligible'],
       [23, 17, 24, ..., 5, 9, 'not eligible']], dtype=object)

In [102]:
sales_mat_lag = sales_mat[:,1:]
sales_mat_lag = np.c_[sales_mat_lag,np.zeros(100)]

In [103]:
sales_diff = sales_mat_lag - sales_mat

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [104]:
perct_change = pd.DataFrame(sales_diff/sales_mat)

NameError: name 'sales_diff' is not defined

In [105]:
perct_change.head()

NameError: name 'perct_change' is not defined

### Example 1 - compute net revenue

In [106]:
profit_mat = np.random.uniform(low=0.05, high=0.25, size=(100,12))

In [107]:
## Find total annual profit for each store
profit_mat = profit_mat.transpose()

In [108]:
profit_mat.shape

(12, 100)

In [109]:
prof_matrix = np.dot(sales_mat,profit_mat)

ValueError: shapes (100,13) and (12,100) not aligned: 13 (dim 1) != 12 (dim 0)

In [110]:
prof_matrix.shape

NameError: name 'prof_matrix' is not defined